<p id="notice"><%= notice %></p>

<p>
  <strong>Admin fabric brand:</strong>
  <%= @admin_pricing_fabric.admin_fabric_brand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_pricing_fabric.price %>
</p>

<%= link_to 'Edit', edit_admin_pricing_fabric_path(@admin_pricing_fabric) %> |
<%= link_to 'Back', admin_pricing_fabrics_path %>
