<p id="notice"><%= notice %></p>

<h1>Cost Factors</h1>

<table>
  <thead>
    <tr>
      <th>Size parche</th>
      <th>Size kanaf</th>
      <th>Size abr</th>
      <th>Wage khayat</th>
      <th>Wage rokob</th>
      <th>Wage naghash</th>
      <th>Wage najar</th>
      <th>Parche colour</th>
      <th>Parche design</th>
      <th>Kande colours</th>
      <th>Kande design</th>
      <th>Transfer cost</th>
      <th>Extras</th>
      <th>Profit percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_factors.each do |cost_factor| %>
      <tr>
        <td><%= cost_factor.size_parche %></td>
        <td><%= cost_factor.size_kanaf %></td>
        <td><%= cost_factor.size_abr %></td>
        <td><%= cost_factor.wage_khayat %></td>
        <td><%= cost_factor.wage_rokob %></td>
        <td><%= cost_factor.wage_naghash %></td>
        <td><%= cost_factor.wage_najar %></td>
        <td><%= cost_factor.parche_colour %></td>
        <td><%= cost_factor.parche_design %></td>
        <td><%= cost_factor.kande_colours %></td>
        <td><%= cost_factor.kande_design %></td>
        <td><%= cost_factor.transfer_cost %></td>
        <td><%= cost_factor.extras %></td>
        <td><%= cost_factor.profit_percentage %></td>
        <td><%= link_to 'Show', cost_factor %></td>
        <td><%= link_to 'Edit', edit_cost_factor_path(cost_factor) %></td>
        <td><%= link_to 'Destroy', cost_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost Factor', new_cost_factor_path %>
