<p id="notice"><%= notice %></p>

<p>
  <strong>Size parche:</strong>
  <%= @cost_factor.size_parche %>
</p>

<p>
  <strong>Size kanaf:</strong>
  <%= @cost_factor.size_kanaf %>
</p>

<p>
  <strong>Size abr:</strong>
  <%= @cost_factor.size_abr %>
</p>

<p>
  <strong>Wage khayat:</strong>
  <%= @cost_factor.wage_khayat %>
</p>

<p>
  <strong>Wage rokob:</strong>
  <%= @cost_factor.wage_rokob %>
</p>

<p>
  <strong>Wage naghash:</strong>
  <%= @cost_factor.wage_naghash %>
</p>

<p>
  <strong>Wage najar:</strong>
  <%= @cost_factor.wage_najar %>
</p>

<p>
  <strong>Parche colour:</strong>
  <%= @cost_factor.parche_colour %>
</p>

<p>
  <strong>Parche design:</strong>
  <%= @cost_factor.parche_design %>
</p>

<p>
  <strong>Kande colours:</strong>
  <%= @cost_factor.kande_colours %>
</p>

<p>
  <strong>Kande design:</strong>
  <%= @cost_factor.kande_design %>
</p>

<p>
  <strong>Transfer cost:</strong>
  <%= @cost_factor.transfer_cost %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @cost_factor.extras %>
</p>

<p>
  <strong>Profit percentage:</strong>
  <%= @cost_factor.profit_percentage %>
</p>

<%= link_to 'Edit', edit_cost_factor_path(@cost_factor) %> |
<%= link_to 'Back', cost_factors_path %>
