<%= 
	render 'admin/shared/index',
	  title: 'لیست طرح پارچه‌ها', 
		title_right: lambda {
			link_to new_admin_furniture_section_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد برند جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'عنوان': { style: 'width: 12%' },
			'گالری': { style: 'width: 100px' },
			'توضیحات': { },
			'عملیات': { style: 'width: 100px' }
		},
		table_body: lambda {
%>
  <% @admin_furniture_sections.each do |admin_furniture_section| %>
    <tr>
      <td><%= admin_furniture_section.id %></td>
      <td>
        <%= admin_furniture_section.name %>
      </td>
      <td class='photo-gallery-collection-incomplete'>
      	<% i = admin_furniture_section.images.first %>
				<%= link_to image_url(i), data: { id: admin_furniture_section.id, source: list_images_admin_furniture_section_path(admin_furniture_section) } do %>
					<%= image_tag thumbnail_url(i), :class => 'cover-item img-responsive img-thumbnail', style: 'height: 40px; width: 70px' %>
				<% end %>
      </td>
      <td>
        <a href="#" class='editable' data-type="textarea" data-placement="bottom" data-resource="admin_furniture_section" data-name="comment" data-url="<%= admin_furniture_section_path(admin_furniture_section) %>" data-original-title="<%= admin_furniture_section.comment %>"><%= admin_furniture_section.comment %></a>
      </td>
      <td>
        <%= link_to edit_admin_furniture_section_path(admin_furniture_section), class: 'inline-html-call' do %>
          <span class='fa fa-pencil'></span> ویرایش
        <% end %>
      </td>
    </tr>
  <% end %>

<% } %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		function append2gallery() {
			$('.photo-gallery-collection-incomplete a[data-source]').unbind('append2gallery').bind('append2gallery', function(e, data, index, gallery) {
				link = 
				'<%= link_to "{0}", data: { index: "{1}", thumb: "{2}" } do %>\
					<%= image_tag "{2}", :class => "cover-item img-responsive img-thumbnail", style: "height: 40px; width: 70px" %>\
				<% end %>'
				.replace('%7B', '{').replace('%7D', '}')
				.replace('src="/images/{2}"', 'src="{2}"')
				.format(data.images[index].url, index, data.images[index].thumb.url)
				$(gallery).append(link);
			});
		};
		append2gallery();
		$(document).ajaxSuccess(append2gallery);
	})
</script>

<%= render 'shared/photo_gallery', collection: @admin_furniture_sections %>