<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
	<% if not current_user.profile %>
	<div class="alert alert-info" role="alert">
		<strong>نکته:</strong>
		برای ادامه‌ی فعالیت در این سایت ارائه‌ی اطلاعات صحیح زیر
		<strong>ضروری</strong>
		می‌باشد.
	</div>
	<% end %>
	<div class='alert alert-warning'>
		<span class='fa fa-hand-o-left'></span>
		توجه فرمایید که هرگونه عوابق ناشی «از عدم ارائه‌ی اطلاعات صحیح» به عهده مشتری ‌می‌باشد.
	</div>
	<div class='block'>
		<legend><h2>ایجاد پروفایل کاربری</h2></legend>
		<%= redirect_form(profile) do |f| %>
			<%= profile.error_messages! %>

		  <div class="field">
		    <%= f.text_field :first_name %>
		  </div>

		  <div class="field">
		    <%= f.text_field :last_name %>
		  </div>

		  <div class="field">
		    <%= f.text_area :address %>
		    <%= f.text_field :postal_code %>
		  </div>

		  <hr />

		  <div class="actions">
		    <%= f.submit '%s پروفایل کابری' %[current_user.profile ? 'بروز رسانی' : 'ایجاد'], :class => 'btn btn-primary' %>
		    <% if current_user.profile %>
		    	<%= link_to 'بازگشت', profile_path(current_user.profile), :class => 'pull-left'%>
		    <% end %>
		    <div class='clearfix'></div>
		  </div>
		<% end %>
	</div>
</div>