<div class='container'>
	<%= path_to_here! %>
	<div class='col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 block'>
		<div class='row'>
			<div class='col-xs-12 col-sm-8 col-md-4 col-lg-8'>
				<legend>مشخصات کاربری <span class="pull-left small"><%= link_to '[ویرایش]', edit_user_registration_path %></span></legend>
				<dl class="dl-horizontal ir">
				  <dt>شماره موبایل:</dt>
				  <dd><%= number_to_phone(current_user.phone_number) %></dd>
				  <dt>گذرواژه:</dt>
				  <dd><%= raw '<span class=\'fa fa-times\'></span>' * 3 %></dd>
				</dl>
				<legend>مشخصات پروفایل <span class="pull-left small"><%= link_to '[ویرایش]', edit_profile_path(current_user.profile) %></span></legend>
				<dl class="dl-horizontal ir">
				  <dt>نام و نام خانوادگی:</dt>
				  <dd><%= current_user.full_name %></dd>
				  <dt>آدرس:</dt>
				  <dd class='text-justify'><%= current_user.profile.address %></dd>
				  <dt>کدپستی:</dt>
				  <dd><%= current_user.profile.postal_code %></dd>
				</dl>
			</div>
			<div class='hidden-xs col-sm-4 sm col-md-4 col-lg-4 pull-right text-center' style='margin-top: 3%;'>
				<%= image_tag 'logo'%>
			</div>
		</div>
	</div>
</div>
