<p id="notice"><%= notice %></p>

<h1>Furnitaure Wages</h1>

<table>
  <thead>
    <tr>
      <th>Khayat</th>
      <th>Rokob</th>
      <th>Naghash</th>
      <th>Naja</th>
      <th>Extra</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @furnitaure_wages.each do |furnitaure_wage| %>
      <tr>
        <td><%= furnitaure_wage.khayat %></td>
        <td><%= furnitaure_wage.rokob %></td>
        <td><%= furnitaure_wage.naghash %></td>
        <td><%= furnitaure_wage.naja %></td>
        <td><%= furnitaure_wage.extra %></td>
        <td><%= furnitaure_wage.comment %></td>
        <td><%= link_to 'Show', furnitaure_wage %></td>
        <td><%= link_to 'Edit', edit_furnitaure_wage_path(furnitaure_wage) %></td>
        <td><%= link_to 'Destroy', furnitaure_wage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Furnitaure Wage', new_furnitaure_wage_path %>
