<p id="notice"><%= notice %></p>

<p>
  <strong>Khayat:</strong>
  <%= @furnitaure_wage.khayat %>
</p>

<p>
  <strong>Rokob:</strong>
  <%= @furnitaure_wage.rokob %>
</p>

<p>
  <strong>Naghash:</strong>
  <%= @furnitaure_wage.naghash %>
</p>

<p>
  <strong>Naja:</strong>
  <%= @furnitaure_wage.naja %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @furnitaure_wage.extra %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @furnitaure_wage.comment %>
</p>

<%= link_to 'Edit', edit_furnitaure_wage_path(@furnitaure_wage) %> |
<%= link_to 'Back', furnitaure_wages_path %>
