<%= 
  render 'admin/shared/index',
    title: "لیست #{t("activerecord.models.#{Admin::Selling::Config::DaysToComplete.model_name.i18n_key}")}", 
    title_right: lambda {
      link_to new_admin_selling_config_days_to_complete_url, class: 'inline-html-call' do
        raw "<span class='fa fa-plus'></span> ایجاد داده‌ی جدید"
      end
    },
    title_right: lambda {
    	break if Admin::Selling::Config::DaysToComplete.count > 0
      link_to new_admin_selling_config_days_to_complete_url, class: 'inline-html-call' do
        raw "<span class='fa fa-plus'></span> ایجاد داده‌ی جدید"
      end
    },
    before_table: lambda {
      raw "<p class='alert alert-warning'><b>توجه:</b> به علت یکنواخت‌سازی داد‌ه‌ها، هنگام محاسبه‌ی مدت زمان تکمیل سفارش‌<b>آخرین داده‌ی جدول زیر</b> در نظر گرفته خواهد شد لذا جهت جلو‌گیری از وقوع هرگونه اشتباهی آخرین داده‌ی این جدول نمایش داده‌ می‌شود.</p>"
    },
    table_head: {
      'ردیف': { style: 'width: 30px' },
      'مازاد (روز)': { },
      'آخرین بروزرسانی': { style: 'width: 130px' },
      'عملیات': { style: 'width: 80px' }
    },
    table_body: lambda {
%>
  <% @admin_selling_config_days_to_completes.each do |ins| %>
    <tr>
      <td><%= ins.id %></td>
      <td><%= editable_tag ins, :extra %>
      <td class='datetime' data-date='<%= ins.updated_at %>'></td>
      <td>
        <%= link_to ins, method: :delete, data: { confirm: { title: "آیا از حذف این مورد اطمینان دارید؟", message: "توجه فرمایید که حذف این مورد غیر قابل بازگشت خواهد بود!" } }, class: 'text-danger' do %>
          <span class='fa fa-trash'></span> حذف
        <% end %>
      </td>
    </tr>
  <% end %>
      
<% } %>