<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @admin_pricing_kalaf.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_pricing_kalaf.comment %>
</p>

<%= link_to 'Edit', edit_admin_pricing_kalaf_path(@admin_pricing_kalaf) %> |
<%= link_to 'Back', admin_pricing_kalafs_path %>
