<p id="notice"><%= notice %></p>

<h1>Workshop Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshop_types.each do |workshop_type| %>
      <tr>
        <td><%= workshop_type.type %></td>
        <td><%= workshop_type.comment %></td>
        <td><%= link_to 'Show', workshop_type %></td>
        <td><%= link_to 'Edit', edit_workshop_type_path(workshop_type) %></td>
        <td><%= link_to 'Destroy', workshop_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop Type', new_workshop_type_path %>
