<% admin_furniture_param_key = Admin::Furniture::Furniture.model_name.param_key %>

<% # DAST MOZD HA %>
<% build_section panel_type: 'success',
			pangel_heading: "<span class='fa fa-money'></span> دست‌مزد",
			thead: ['کارمند', 'دست‌مزد (تومان)'],
			thead_class: {'1': 'col-md-6'} do %>
	<% 
		collection = { }
		[:wage].each do |label|
			collection[label] = intel.map {|i| i[:data][label]}
		end
	%>
	<% klass_id = next_klass.call %>
	<% intel.each do |i| %>
		<tr <%= klass_id %> class="<%= i[:data].confirmed? ? "" : "warning" %>">
			<td><%= i[:data].user.full_name %></td>
			<% [:wage].each do |label| %>
				<td>
					<% outlier_label i[:data][label], collection: collection[label], diff_level: 30 do %>
						<span class='value currency' data-type="text" data-pk="<%= next_value.call %>" data-url-x='<%= update_field_employee_kanafs_path(format: :json) %>' data-options='<%= {
							"#{admin_furniture_param_key}[employee_kanaf][id]": i[:data].id
						}.to_json %>' data-resource="<%= admin_furniture_param_key %>[employee_kanaf]" data-name="<%= label.to_s %>" data-original-value="<%= i[:data][label].to_i %>" data-original-title="مقدار اولیه: <%= i[:data][label].to_i %>"><%= i[:data][label].to_i %></span>
					<% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
<% end %>

<% # ZAMAN BANDI %>
<% build_section panel_type: 'info',
			pangel_heading: "<span class='fa fa-clock-o'></span> زمان‌بندی",
			thead: ['کارمند', 'مدت زمان پایان «نجاری» یا «کنده‌کاری»'],
			thead_class: {'1': 'col-md-6'} do %>
	
	<% klass_id = next_klass.call %>
	<% intel.each do |i| %>
		<tr <%= klass_id %> class="<%= i[:data].confirmed? ? "" : "warning" %>">
			<td><%= i[:data].user.full_name %></td>
			<td>
				<% outlier_label i[:data][:days_to_complete], collection: intel.map { |i| i[:data][:days_to_complete] }, diff_level: 2 do %>
					<span class='value' data-type="text" data-pk="<%= next_value.call %>" data-url-x='<%= update_field_employee_kanafs_path(format: :json) %>' data-options='<%= {
								"#{admin_furniture_param_key}[employee_kanaf][id]": i[:data].id,
								"#{admin_furniture_param_key}[employee_kanaf][days_to_complete_scale]": "days"
							}.to_json %>' data-resource="<%= admin_furniture_param_key %>[employee_kanaf]" data-name="days_to_complete" data-original-value="<%= i[:data][:days_to_complete] %>" data-original-title="مقدار اولیه: <%= i[:data][:days_to_complete] %> روز"><%= i[:data][:days_to_complete] %></span>
					&nbsp;
					روز
				<% end %>
			</td>
		</tr>
	<% end %>
<% end %>

<% # JOZIAT %>
<% build_section panel_type: 'primary',
			pangel_heading: "<span class='fa fa-balance-scale'></span> جزییات",
			thead: ['کارمند', 'میزان چوب مصرفی'],
			thead_class: {'1': 'col-md-6'} do %>
			
	<% klass_id = next_klass.call %>
	<% intel.each do |i| %>
		<tr <%= klass_id %> class="<%= i[:data].confirmed? ? "" : "warning" %>">
			<td><%= i[:data].user.full_name %></td>
			<td>
				<% outlier_label i[:data][:choob], collection: intel.map { |i| i[:data][:choob] }, diff_level: 3 do %>
					<span class='value' data-type="text" data-pk="<%= next_value.call %>" data-url-x='<%= update_field_employee_kanafs_path(format: :json) %>' data-options='<%= {
						"#{admin_furniture_param_key}[employee_kanaf][id]": i[:data].id
					}.to_json %>' data-resource="<%= admin_furniture_param_key %>[employee_kanaf]" data-name="choob" data-original-value="<%= i[:data][:choob].to_i %>" data-original-title="مقدار اولیه: <%= i[:data][:choob].to_i %>"><%= i[:data][:choob].to_i %></span>
				<% end %>
			</td>
		</tr>
	<% end %>
<% end %>