<%= form_for(furniture_wage) do |f| %>
  <% if furniture_wage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(furniture_wage.errors.count, "error") %> prohibited this furniture_wage from being saved:</h2>

      <ul>
      <% furniture_wage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :khayat %>
    <%= f.text_field :khayat %>
  </div>

  <div class="field">
    <%= f.label :rokob %>
    <%= f.text_field :rokob %>
  </div>

  <div class="field">
    <%= f.label :naghash %>
    <%= f.text_field :naghash %>
  </div>

  <div class="field">
    <%= f.label :naja %>
    <%= f.text_field :naja %>
  </div>

  <div class="field">
    <%= f.label :extra %>
    <%= f.text_field :extra %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
