<p id="notice"><%= notice %></p>

<p>
  <strong>Khayat:</strong>
  <%= @furniture_wage.khayat %>
</p>

<p>
  <strong>Rokob:</strong>
  <%= @furniture_wage.rokob %>
</p>

<p>
  <strong>Naghash:</strong>
  <%= @furniture_wage.naghash %>
</p>

<p>
  <strong>Naja:</strong>
  <%= @furniture_wage.naja %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @furniture_wage.extra %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @furniture_wage.comment %>
</p>

<%= link_to 'Edit', edit_furniture_wage_path(@furniture_wage) %> |
<%= link_to 'Back', furniture_wages_path %>
