<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_wood_color_weight.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_wood_color_weight.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_wood_color_weight_path(@admin_furniture_wood_color_weight) %> |
<%= link_to 'Back', admin_furniture_wood_color_weights_path %>
