<%= render 'header' %>
<legend><h2><%= t('.title', resource: resource_class.model_name.human) %></h2></legend>

<%= redirect_form(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.telephone_field :phone_number, placeholder: '09*********', value: resource.phone_number  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>
      <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
    </p>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: resource.change_password ? 'لطفا رمز عبور جدید خود را وارد کنید.' : 'اگر نمی‌خواهید رمز عبور خود را تغییر دهید، خالی بگذارید.', required: resource.change_password  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: resource.change_password ? 'لطفا رمز عبور جدید خود را تکرار کنید.' : 'اگر نمی‌خواهید رمز عبور خود را تغییر دهید، خالی بگذارید.', required: resource.change_password  %>
  </div>
	<hr />
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
	<hr />
	<div class='field row'>
	  <div class="pull-right actions">
	    <%= f.submit t('.update'), :class => 'btn btn-success' %>
	  </div>
	  <div class="pull-left actions">
	  	<%= link_to t('devise.shared.links.back'), :back %>
	  </div>
  	<div class='clearfix'></div>
		<hr />
		<div class='field'>
			<%= link_to 'حساب کاربری مرا غیرفعال کن!', registration_path(resource_name), data: { confirm: {title: 'آیا از غیرفعال کردن حساب کاربری خود اطمینان دارید؟', message: 'توجه فرمایید که درصورت تمایل در آینده می‌توانید با ورود مجدد به حساب کاربری خود، آن را دوباره فعال نمایید.'} }, method: :delete, :class => 'btn btn-danger' %>
		</div>
  </div>
<% end %>
<%= render 'footer' %>
