<%= render 'devise/registrations/header' %>
<legend><h2><%= t('.sign_up') %></h2></legend>

<%= redirect_form(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.telephone_field :phone_number, placeholder: '09*********', value: resource.phone_number, autofocus: true, maxlength: 11  %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
	<hr />
	<div class='field row'>
	  <div class="pull-right actions">
	    <%= f.submit t('.sign_up'), :class => 'btn btn-default' %>
	  </div>
	  <div class="pull-left actions">
	  	<%= render "devise/shared/links" %>
	  </div>
  	<div class='clearfix'></div>
  </div>
<% end %>
<%= render 'devise/registrations/footer' %>