<%= remote_form @form[:furniture], url: employee_fanis_path, method: :post do |f| %>
	<%= f.hidden_field :id, value: @form[:furniture].id %>
	<%= f.hidden_field :hd, value: Digest::SHA256.new << (@form[:furniture].id.to_s + Rails.application.config.secret_key_base) %>
	<div class='ir'>
		<%= f.fields_for @form[:fani] do |ff| %>
			<div class="panel panel-success">
			  <div class="panel-heading"><strong><span class='fa fa-money'></span> دست‌مزد</strong></div>
			  <div class="panel-body">
					<div class='row'>
						<%= ff.number_field :wage_rokob, step: 1, min: 0, append: "هزار تومان", wrapper: { class: 'col-md-6 pull-right' } %>
						<%= ff.number_field :wage_khayat, step: 1, min: 0, append: "هزار تومان", wrapper: { class: 'col-md-6' } %>
					</div>
			  </div>
			</div>
			<div class="panel panel-info">
			  <div class="panel-heading"><strong><span class='fa fa-clock-o'></span> زمان‌بندی</strong></div>
			  <div class="panel-body">
					<div class='row'>
			      <%= ff.number_field :days_to_complete, step: 1, value: 0, min: 0, wrapper: { class: 'col-md-6 pull-right' }  %>
			      <%= ff.select :days_to_complete_scale, [['روز', 'days'], ['هفته', 'weeks'], ['ماه', 'month']], {}, wrapper: { class: 'col-md-offset-3 col-md-3' } %>
					</div>
			  </div>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading"><strong><span class='fa fa-info'></span> اطلاعات عمومی</strong></div>
			  <div class="panel-body">
					<% [[:needs_kande, 'کنده‌کاری'], [:needs_kanaf, 'کناف'], [:needs_rang, 'رنگ']].each do |e| %>
						<%= check_awesome "نیاز به #{e[1]} دارد.", '', name: "#{f.object_name}[#{e[0]}]" %>
					<% end %>
			  </div>
			</div>
			<% build_details_index = 0 %>
			<% Admin::FurnitureSpec.where('name IN (?)', ['پارچه', 'ابر']).each do |spec| %>
				<% 
					is_abr = spec.name == 'ابر'
					value_col = 9 
					value_col = 6	if is_abr
					symbol = is_abr ? :abr : :parche 
				%>
				<div class="panel panel-primary">
				  <div class="panel-heading"><span class='fa fa-balance-scale'></span> جزییات <strong><%= spec.name %></strong></div>
				  <div class="panel-body">
			  		<table class='table'>
			  			<thead>
			  				<th class='col-md-<%= value_col %>'>مقدار</th>
			  				<% if is_abr %>
			  				<th class='col-md-<%= 9 - value_col %>'>جنس<br />(درحالت کلی)</th>				  				
			  				<% end %>
			  				<th class='col-md-3'>قسمت</th>
			  			</thead>
			  			<tbody>
								<% Admin::FurnitureSection.where('name IN (?)', ['زیری', 'پشتی', 'دسته']).each.with_index do |section, index| %>
									<%= ff.fields_for @form[:build_details][build_details_index] do |fff| %>
										<tr>
											<td>
												<%= fff.number_field :value, step: :any, min: 0, multiple: true, append: raw("#{spec.scale} از <b>#{spec.name}</b>"), label: "برای #{section.comment}", name: "#{fff.object_name}[spec][#{spec.id}][section][#{section.id}][value]" %>
											</td>
											<% if is_abr %>
											<td>
												<%= fff.select :admin_furniture_stuff_abr_id,  Admin::FurnitureStuffAbr.all.collect {|i| [i.name, i.id]}, { label: raw("&nbsp;"), selected: [2, 1, 3][index] }, name: "#{fff.object_name}[spec][#{spec.id}][section][#{section.id}][options][#{Admin::FurnitureStuffAbr.table_name}][id]" %>
											</td>
											<% end %>
						      		<td>
												<%= image_tag thumbnail_url(section.images), \
															class: 'furniture-section img-responsive', \
															style: 'height: 80px;margin-top: 0px;', \
															title: section.comment %>
											</td>
										</tr>
										<% build_details_index += 1 %>
									<% end %>
								<% end %>
							</tbody>
						</table>
				  </div>
				</div>
			<% end %>
			<div class="panel panel-danger" style='margin-bottom: 150px'>
			  <div class="panel-heading"><strong><span class='fa fa-pencil-square-o'></span> ثبت اطلاعات</strong></div>
			  <div class="panel-body">
			  	<p>
			  		<strong><%= current_user.profile.first_name %> جان!</strong>
			  		در صورتی که از اطلاعات وارده‌ی فوق اطمینان حاصل دارید گزینه‌ی ثبت را بزنید. لطفا در نظر داشته باشید که این اطلاعات پایه‌ی اصلی قیمت‌گذاری محصولات خواهند بود.<br />
			  		هرگونه عواقب ناشی از <strong>«عدم صحت»</strong> یا <strong>«عدم مطابقت با واقعیت»</strong> اطلاعات وارد شده، مستقیما متوجه شما خواهد شد.
						<br />
						<small class="text-muted pull-left">
							باتشکر از توجه شما<br />
							تیم مدیریت «مبل ویرا»
						</small>
						<div class='clearfix'></div>
			  	</p>
			  	<%= f.submit 'ثبت اطلاعات', data: { disable_with: "درحال ثبت اطلاعات..."} %>
			  </div>
			</div>
		<% end %>
	</div>
<% end %>

<script type="text/javascript" charset="utf-8">
	function on_employee_form_submit(callback) {
		message_header = '<table class="table">\
			<thead>\
				<tr>\
					<th>عنوان</th>\
					<th>مقدار</th>\
					<th>توضیحات</th>\
				</tr>\
			</thead>\
			<tbody>'
		message_footer = '</tbody></table>';
		
		message_body = ''
		
		var days_scale_locale = {
			days: 'روز',
			weeks: 'هفته',
			months: 'ماه'
		}
		
		var get_val = function(e) { return $(e).val().length ? $(e).val() : '؟'  }
		var get_checked = function(e) { return $(e + ':checked').length ? 'بله' : 'خیر' }
		
		var k = [
			{
				spec: 'دستمزد‌ها',
				list: [
					{val: get_val('[name="admin_furniture[employee_fani][wage_rokob]"]'), append: 'هزار تومان', title: 'دست‌مزد روکوب', desc: ''},
					{val: get_val('[name="admin_furniture[employee_fani][wage_khayat]"]'), append: 'هزار تومان', title: 'دستمزد خیاط', desc: ''}
				]
			},
			{
				spec: 'زمان', 
				list: [
					{val: get_val('[name="admin_furniture[employee_fani][days_to_complete]"]'), append: days_scale_locale[$('[name="admin_furniture[employee_fani][days_to_complete_scale]"]').val()], title: 'مدت زمان پایان «خیاطی» و «روکوبی»', desc: ''}
				]
			},
			{
				spec: 'اطلاعات عمومی',
				list: [
					{val: get_checked('[name="admin_furniture[needs_kande]"]'), append: '', title: 'نیاز به روکوبی دارد؟', desc: ''},
					{val: get_checked('[name="admin_furniture[needs_kanaf]"]'), append: '', title: 'نیاز به کناف دارد؟', desc: ''},
					{val: get_checked('[name="admin_furniture[needs_rang]"]'), append: '', title: 'نیاز به رنگ دارد؟', desc: ''}
				]
			},
			{
				spec: 'جزییات ابر',
				list: [
					{
						val: get_val('[name="admin_furniture[employee_fani][furniture_build_detail][spec][1][section][6][value]"]'), 
						append: $('[name="admin_furniture[employee_fani][furniture_build_detail][spec][1][section][6][value]"]').siblings('.input-group-addon') + get_val('[name="admin_furniture[employee_fani][furniture_build_detail][spec][1][section][6][options][admin_furniture_stuff_abrs][id]"]')
					}
				]
			}
		]
		
		
		for (var j = 0; j < k.length; j++) {
			console.log([k[j], k.length]);
			message_body += '<tr class="active"><td colspan="3"><b>'+k[j].spec+'</b></td><tr/>';
			var l = k[j].list;
			
			for (var i = 0; i < l.length; i++) {
				message_body += 
					'<tr>' + 
						'<td>' + l[i].title + '</td>' +
						'<td>' + l[i].val + ' ' + l[i].append + '</td>' +
						'<td>' + l[i].desc + '</td>' + 
					'</tr>'
			}
		}		
		
		bootbox.confirm({
			title: 'آیا اطلاعات زیر مورد تایید می‌باشد؟', 
			message: message_header + message_body + message_footer,
			callback: callback
		})
	}
	$(document).ready(function(){
		$('.furniture-section').on('mouseover', function(e) {
			$(this).popover({
	      html: true,
	      trigger: 'hover',
	      placement: 'top',
	      content: function(){ return '<img src="'+$(this).attr('src') + '" />';}
	    });
	    $(this).popover('show');
    });
  });
</script>