<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @parche_colour.details %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @parche_colour.cost %>
</p>

<%= link_to 'Edit', edit_parche_colour_path(@parche_colour) %> |
<%= link_to 'Back', parche_colours_path %>
