<legend><span class='fa fa-industry'></span> مدیریت تولید</legend>
<div class="panel-group accordion" role="tablist">
	<%
		[
			{
				title: 'مبل',
				subtitles: [
      		{ label: 'تعریف قسمت‌ها', link: admin_furniture_sections_path },
      		{ label: 'تعریف ست‌ها', link: admin_furniture_sets_path },
      		{ label: 'تعریف اجزای ساخت', link: admin_furniture_specs_path },
      	]
			},
			{
				title: 'پارچه',
				subtitles: [
      		{ label: 'کیفیت', link: admin_furniture_fabric_types_path },
      		{ label: 'برندها', link: admin_furniture_fabric_brands_path },
      		{ label: 'طرح‌ها', link: admin_furniture_fabric_fabrics_path },
      		{ label: 'دسته‌بندی رنگ‌ها', link: admin_furniture_fabric_colors_path },
      		{ label: 'اندازه‌های کوسن‌ها', link: admin_furniture_fabric_cushions_path }
      	]
			},
			{
				title: 'رنگ',
				subtitles: [
      		{ label: 'کیفیت', link: admin_furniture_paint_color_qualities_path },
      		{ label: 'برندها', link: admin_furniture_paint_color_brands_path },
      		{ label: 'رنگ‌ها', link: admin_furniture_paint_colors_path },
      	]
			},
			{
				title: 'چوب',
				subtitles: [
      		{ label: 'انواع', link: admin_furniture_wood_types_path },
      	]
			},
			{
				title: 'ابر',
				subtitles: [
      		{ label: 'انواع', link: admin_furniture_foam_types_path },
      	]
			},
			{
				title: 'کارگاه',
				subtitles: [
      		{ label: 'کارگاه‌ها', link: admin_workshop_workshops_path },
      	]
			},
		].each do |section|
			tag = Time.now.to_i + rand.to_s[2..-1].to_i
	%>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	      	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_<%= tag %>" aria-expanded="false" aria-controls="collapseThree">
		      	<span class='fa fa-th-large'></span> <%= section[:title] %>
	      	</span>
	      </h4>
	    </div>
	    <div id="collapse_<%= tag %>" class="panel-collapse collapse" role="tabpanel">
	      <div class="list-group">
	        <% section[:subtitles].each do |subsec| %>
		        <a href="<%= subsec[:link] %>" class="list-group-item" target='panel-frame'>
		        	<%= subsec[:label] %>
		        </a>
	        <% end %>
	      </div>
	    </div>
	  </div>
  <% end %>
</div>