<legend><span class='fa fa-industry'></span> مدیریت تولید</legend>
<div class="panel-group accordion" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
      	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_sofa" aria-expanded="false" aria-controls="collapseThree">
	      	<span class='fa fa-th-large'></span> مبل
      	</span>
      </h4>
    </div>
    <div id="collapse_sofa" class="panel-collapse collapse" role="tabpanel">
      <div class="list-group">
        <a href="<%= admin_furniture_sections_path %>" class="list-group-item" target='panel-frame'>
        	تعریف قسمت‌ها
        </a>
        <a href="<%= admin_furniture_specs_path %>" class="list-group-item" target='panel-frame'>
        	تعریف اجزای ساخت
        </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading" role="tab">
	    <h4 class="panel-title">
	    	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_parche" aria-expanded="false" aria-controls="collapseThree">
	      	<span class='fa fa-th-large'></span> پارچه
	    	</span>
	    </h4>
	  </div>
	  <div id="collapse_parche" class="panel-collapse collapse" role="tabpanel">
	    <div class="list-group">
	      <a href="<%= admin_fabric_types_path %>" class="list-group-item" target='panel-frame'>
	        انواع
	      </a>
	      <a href="<%= admin_fabric_brands_path %>" class="list-group-item" target='panel-frame'>
	        برندها
	      </a>
	      <a href="#" class="list-group-item" target='panel-frame'>
	        طرح‌ها
	      </a>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab">
	    <h4 class="panel-title">
	    	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_abr" aria-expanded="false" aria-controls="collapseThree">
	      	<span class='fa fa-th-large'></span> ابر
	    	</span>
	    </h4>
	  </div>
	  <div id="collapse_abr" class="panel-collapse collapse" role="tabpanel">
	    <div class="list-group">
	      <a href="<%= admin_furniture_stuff_abrs_path %>" class="list-group-item" target='panel-frame'>
	        انواع ابر
	      </a>
	    </div>
	  </div>
	</div>
</div>