<legend><span class='fa fa-money'></span> مدیریت قیمت</legend>
<div class="panel-group accordion" role="tablist">
	<%
		[
			{
				title: 'هزینه‌های عمومی',
				subtitles: [
      		{ label: 'هزینه‌های ثابت', link: admin_pricing_consts_path },
      		{ label: 'هزینه‌های ترابری', link: admin_pricing_transits_path },
      	]
			},
			{
				title: 'هزینه‌های تولیدی',
				subtitles: [
					{ label: 'پارچه', link: admin_pricing_fabrics_path },
					{ label: 'رنگ', link: admin_pricing_paint_colors_path },
					{ label: 'آستر و رویه', link: admin_pricing_paint_astar_rouyes_path },
					{ label: 'چوب', link: admin_pricing_woods_path },
					{ label: 'ابر', link: admin_pricing_foams_path },
					{ label: 'کلاف', link: admin_pricing_kalafs_path },
				]
			}
		].each do |section|
			tag = Time.now.to_i + rand.to_s[2..-1].to_i
	%>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab">
	      <h4 class="panel-title">
	      	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_<%= tag %>" aria-expanded="false" aria-controls="collapseThree">
		      	<span class='fa fa-th-large'></span> <%= section[:title] %>
	      	</span>
	      </h4>
	    </div>
	    <div id="collapse_<%= tag %>" class="panel-collapse collapse" role="tabpanel">
	      <div class="list-group">
	        <% section[:subtitles].each do |subsec| %>
		        <a href="<%= subsec[:link] %>" class="list-group-item" target='panel-frame'>
		        	<%= subsec[:label] %>
		        </a>
	        <% end %>
	      </div>
	    </div>
	  </div>
  <% end %>
</div>