<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @admin_furniture_fabric_cushion.label %>
</p>

<p>
  <strong>Width:</strong>
  <%= @admin_furniture_fabric_cushion.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @admin_furniture_fabric_cushion.height %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_fabric_cushion.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_fabric_cushion_path(@admin_furniture_fabric_cushion) %> |
<%= link_to 'Back', admin_furniture_fabric_cushions_path %>
