<%
	form_id = ''
	selected = @paint_color_lists.select { |pc| pc.is_default }.first
	selected_id = selected.nil? ? nil : selected.id
%>
<%= remote_form(admin_pricing_paint_color) do |f| -%>
  <% form_id = f.options[:html][:id] %>
  <div  class='block'>
  	<div class='row'>
		  <div class="col-sm-6 col-xs-12 pull-right">
      	<%= f.collection_select :admin_furniture_paint_color_brand_id, @paint_color_lists, :id, :name, { prompt: 'انتخاب کنید.', selected: selected_id }, :class => 'form-control', autofocus: true %>
		  </div>
      <div class="col-sm-6 col-xs-12 pull-right">
        <%= f.number_field :price %>
      </div>
      <div class='clearfix'></div>
      <div class="col-xs-12">
      	<%= f.text_area :comment %>
    	</div>
    </div>
  </div>

  <div class="actions field pull-left">
    <%= f.submit submit_text,  data: { disable_with: "درحال ثبت اطلاعات..." }, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
<% end %>