<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_color_quality.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_color_quality.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_color_quality_path(@admin_furniture_color_quality) %> |
<%= link_to 'Back', admin_furniture_color_qualities_path %>
