<%= remote_form @admin_furniture_paint_color do |f| %>
	<%= params[:admin] ? f.hidden_field(:admin, value: params[:admin]): '' %>
	<div  class='block'>
		<div class='row field'>
		  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
		    <%= f.collection_select :admin_furniture_paint_color_brands_id, Admin::Furniture::Paint::ColorBrand.all, :id, :name, { prompt: 'انتخاب کنید.' }, :class => 'form-control', autofocus: true, required: true %>
		  </div>
		  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
		    <%= f.collection_select :admin_furniture_paint_color_qualities_id, Admin::Furniture::Paint::ColorQuality.all, :id, :name, { prompt: 'انتخاب کنید.' }, :class => 'form-control', required: true %>
		  </div>
		  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
		  	<%= f.text_field :name, required: true %>
	  	</div>
		  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
		  	<%= f.text_field :color_value, placeholder: '#e7e7e7', class: 'en en-font', maxlength: 7, required: true %>
	  	</div>
		  <div class="col-md-12 col-sm-12 col-xs-12 ">
		  	<%= f.text_area :comment %>
	  	</div>
	  	<div class='clearfix'></div>
	  </div>
  </div>
  
  <div class="actions field pull-left">
    <%= f.submit submit_text, :class => 'btn btn-primary', data: { disable_with: "درحال ثبت اطلاعات..."} %>
  </div>
  
	<div class='clearfix'></div>
<% end %>