<%= 
	render 'admin/shared/index',
	  title: 'لیست رنگ‌‌ها', 
		title_right: lambda {
			link_to new_admin_furniture_paint_color_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد رنگ جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'برند': { style: 'width: 10%' },
			'کیفیت': { style: 'width: 10%' },
			'نام رنگ': { style: 'width: 10%' },
			'رنگ': { style: 'width: 80px'},
			'توضیحات': { },
			'آخرین بروزرسانی': { style: 'width: 130px' },
			'عملیات': { style: 'width: 90px' }
		},
		table_body: lambda { 
%>	
  <% @admin_furniture_paint_colors.each do |fc| %>
    <tr>
      <td><%= fc.id %></td>
      <td>
        <%= editable_tag fc, :admin_furniture_paint_color_brands_id, type: :select, value: fc.admin_furniture_paint_color_brands_id, source: admin_furniture_paint_color_brands_path, text: fc.brand.name %>
    	</td>
      <td>
        <%= editable_tag fc, :admin_furniture_paint_color_qualities_id, type: :select, value: fc.admin_furniture_paint_color_qualities_id, source: admin_furniture_paint_color_qualities_path, text: fc.quality.name %>
    	</td>
      <td>
        <%= editable_tag fc, :name %>
      </td>
      <td>
        <div style='height: 50px; width: 50px; background-color: <%= fc.color_value %>; margin-bottom: 10px' class="color-presentor"></div>
        <%= editable_tag fc, :color_value, class: 'en en-font hidden' %>
      </td>
      <td>
        <%= editable_tag fc, :comment, type: :textarea, placement: :bottom, 'allow-empty': true %>
      </td>
    	<td class='datetime' data-date='<%= fc.updated_at %>'></td>
    	<td>
      	<%= link_to fc, method: :delete, class: 'text-danger', data: { confirm: { title: "آیا از حذف این رنگ اطمینان دارید؟", message: "توجه فرمایید که حذف رنگ غیر قابل بازگشت خواهد بود!" } } do %>
      		<span class='fa fa-trash'></span> حذف
      	<% end %>
    	</td>
    </tr>
  <% end %>
    
<% } %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		// update the background color if a color edited
		$('a.editable[data-name="color_value"]').bind("DOMSubtreeModified", function(){
			$(this).closest('td').find('.color-presentor').css('background-color', $(this).text());
		})
	});
</script>

<style type="text/css" media="screen">
	.editable[data-name="color_value"]:not(.editable-disabled) {
		display: unset!important;
	}
</style>
