<%= javascript_include_tag 'vendors/wizard-tabline' %>
<%= stylesheet_link_tag    'vendors/wizard-tabline', media: 'all' %>
<div class="row">
  <section>
    <div class="wizard-tabs">
      <div class="wizard-tabs-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
				  <li class="active pull-right" role="presentation">
            <a aria-controls="general-form-tab-content" data-toggle="tab" href="#general-form-tab-content" role="tab" title="اطلاعات کلی">
            	<span class="round-tab"><i class="fa fa-database"></i></span>
          	</a>
        	</li>
				  <li class="disabled pull-right" role="presentation">
            <a aria-controls="design-form-tab-content" data-toggle="tab" href="#design-form-tab-content" role="tab" title="اطلاعات طرح‌ها">
            	<span class="round-tab"><i class="fa fa-th-large"></i></span>
          	</a>
        	</li>
          <li class="disabled" role="presentation">
            <a aria-controls="final-tab-content" data-toggle="tab" href="#final-tab-content" role="tab" title="نتیجه">
            	<span class="round-tab"><i class="fa fa-check"></i></span>
          	</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="tab-content" id="fabric-info-content">
	<% details = {
		"general-form": "01_general",
		"design-form": "02_images_detail"
	} %>
	<% details.keys.each.with_index do |k, index| %>
	  <div aria-labelledby="<%= k %>-tab" class="tab-pane fade <%= index == 0 ? 'active in' : '' %>" id="<%= k %>-tab-content" role="tabpanel" style="margin: 20px;">
  		<%= render "admin/fabrics/forms/#{details[k]}", admin_fabric: admin_fabric, submit_text: submit_text  %>
			<div class='clearfix'></div>
	  </div>
	<% end %>
</div>