<p id="notice"><%= notice %></p>

<h1>Admin Workshop Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Address</th>
      <th>User</th>
      <th>Phone number</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_workshop_workshops.each do |admin_workshop_workshop| %>
      <tr>
        <td><%= admin_workshop_workshop.name %></td>
        <td><%= admin_workshop_workshop.state %></td>
        <td><%= admin_workshop_workshop.address %></td>
        <td><%= admin_workshop_workshop.user %></td>
        <td><%= admin_workshop_workshop.phone_number %></td>
        <td><%= admin_workshop_workshop.comment %></td>
        <td><%= link_to 'Show', admin_workshop_workshop %></td>
        <td><%= link_to 'Edit', edit_admin_workshop_workshop_path(admin_workshop_workshop) %></td>
        <td><%= link_to 'Destroy', admin_workshop_workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Workshop Workshop', new_admin_workshop_workshop_path %>
