<div class='col-md-12 col-lg-10 col-lg-offset-1'>
  <legend>
    <h1 class='pull-right'>برند پارچه</h1>
    <small class='pull-left' style='font-size: 16px; margin-top: 40px;'>
      <%= link_to new_admin_furniture_fabric_brand_path(admin: :check), class: 'inline-html-call' do %>
        <span class='fa fa-plus'></span>
        ایجاد برند جدید
      <% end %>
    </small>
    <div class='clearfix'></div>
  </legend>
	<small style='font-size: 16px;' class='text-muted pull-left'><%= page_entries_info @admin_furniture_fabric_brands %></small>
	<%= acu_as :admin { render 'shared/editable_content' }%>
	<table class='table <%= @admin_furniture_fabric_brands.empty? ? "" : "table-striped table-hover" %>'>
	  <thead>
	    <tr>
	      <th style='width: 30px'>ردیف</th>
	      <th style='width: 12%;'>نام‌دسته‌بندی</th>
	      <th>توضیحات</th>
	      <th style='width: 130px'>آخرین بروزرسانی</th>
	      <th style='width: 80px;'>عملیات</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @admin_furniture_fabric_brands.each do |ft| %>
	      <tr>
	        <td><%= ft.id %></td>
	        <td>
	          <a href="#" class='editable' data-type="text" data-resource="admin_furniture_fabric_brand" data-name="name" data-url="<%= admin_furniture_fabric_brand_path(ft) %>" data-original-title="<%= ft.name %>">
	            <%= ft.name %>
	          </a>
	        </td>
	        <td>
	          <a href="#" class='editable' data-type="text" data-resource="admin_furniture_fabric_brand" data-name="comment" data-url="<%= admin_furniture_fabric_brand_path(ft) %>" data-original-title="<%= ft.comment %>">
	            <%= ft.comment %>
	          </a>
	        </td>
	        	<td class='datetime' data-date='<%= ft.updated_at %>'></td>
	        <td>
	          <% acu_as :admin do %>
            	<%= link_to admin_furniture_fabric_brand_path(ft), class: 'text-danger', method: :delete, data: { confirm: { title: "آیا از حذف این دسته‌بندی اطمینان دارید؟", message: "توجه فرمایید که حذف دسته‌بندی «<b>#{ft.name}</b>» غیر قابل بازگشت خواهد بود!" } } do %>
            		<span class='fa fa-trash'></span> حذف
            	<% end %>
	          <% end %>
	        </td>
	      </tr>
	    <% end %>
	    <% if @admin_furniture_fabric_brands.empty? %>
	      <tr>
	        <td colspan="8"><div class="empty-collection">عضوی پیدا نشد!</div></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<div class="text-center" style='vertical-align: middle'>
	  <%= will_paginate @admin_furniture_fabric_brands, renderer: BootstrapPagination::Rails %>
	</div>
</div>

<script brand="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('.editable[data-type="textarea"]').editable({ tpl: '<textarea maxlength="140"></textarea>' });
	})
</script>