<p id="notice"><%= notice %></p>

<h1>Transfer Costs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_costs.each do |transfer_cost| %>
      <tr>
        <td><%= transfer_cost.title %></td>
        <td><%= transfer_cost.cost %></td>
        <td><%= transfer_cost.comment %></td>
        <td><%= link_to 'Show', transfer_cost %></td>
        <td><%= link_to 'Edit', edit_transfer_cost_path(transfer_cost) %></td>
        <td><%= link_to 'Destroy', transfer_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer Cost', new_transfer_cost_path %>
