<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @transfer_cost.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @transfer_cost.cost %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transfer_cost.comment %>
</p>

<%= link_to 'Edit', edit_transfer_cost_path(@transfer_cost) %> |
<%= link_to 'Back', transfer_costs_path %>
