<% if @furnitures.length > 0 %>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><%= page_entries_info @furnitures %></div>
	<hr class='col-lg-12 col-md-12 col-sm-12 col-xs-12'/>
<% end %>
<% list_or_prompt @furnitures, 'محصولی یافت نشد!' do |f| %>
	<% next if not f.images or f.images.length == 0 %>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 photo-gallery-parent" style='margin-bottom: 10px'>
		<span class='checked hidden'>
			<span class="fa fa-check fa-3x"></span>
		</span>
		<div class="thumbnail photo-gallery-collection-incomplete text-center" style='width: 100%; height: 120px; vertical-align: middle'>
    	<% i = f.images[f.cover_details["index"].to_i] %>
			<%= link_to image_url(i), data: { id: f.id, source: list_images_admin_furniture_path(f) } do %>
				<%= image_tag thumbnail_url(i), :class => 'img-responsive img-thumbnail', style: 'width: 100%; height: 100%' %>
			<% end %>
		</div> 
	</div>
<% end %>         
<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style='vertical-align: middle' id='infinite-scrolling'>
	<%= will_paginate @furnitures, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript" charset="utf-8" name='parent-call'>
	function check_element_by_id(id, title) {
		$parent = $('.photo-gallery-collection-incomplete a[data-source][data-id="' + id + '"]')
			.closest('.photo-gallery-parent')
			
		if(title !== undefined && title.length)
			$parent
				.attr('title', title)
				.attr('data-toggle', 'tooltip')
				.tooltip();
		
		$parent.find('> .checked').removeClass('hidden')
	}
	$(document).ready(function() {
		function append2gallery() {
			$('.photo-gallery-collection-incomplete a[data-source]').bind('append2gallery', function(e, data, index, gallery) {
				link = 
				'<%= link_to "{0}", data: { index: "{1}", thumb: "{2}" } do %>\
					<%= image_tag "{2}", :class => "cover-item img-responsive img-thumbnail", style: "height: 40px; width: 70px" %>\
				<% end %>'
				.replace('%7B', '{').replace('%7D', '}')
				.replace('src="/images/{2}"', 'src="{2}"')
				.format(data.images[index].url, index, data.images[index].thumb.url)
				$(gallery).append(link);
			});
		};
		append2gallery();
		$(document).ajaxSuccess(append2gallery);
		$('.photo-gallery-collection-incomplete a[data-source]').click(function(){
			parent.set_selected_element_id($(this).attr('data-id'))
		}).addClass('parent-callified');
	});
</script>

<%= render 'shared/photo_gallery', collection: @furnitures %>