<p id="notice"><%= notice %></p>

<p>
  <strong>Size parche:</strong>
  <%= @furniture_detail.size_parche %>
</p>

<p>
  <strong>Size kanaf:</strong>
  <%= @furniture_detail.size_kanaf %>
</p>

<p>
  <strong>Size abr:</strong>
  <%= @furniture_detail.size_abr %>
</p>

<p>
  <strong>Available:</strong>
  <%= @furniture_detail.available %>
</p>

<p>
  <strong>Images:</strong>
  <%= @furniture_detail.images %>
</p>

<%= link_to 'Edit', edit_furniture_detail_path(@furniture_detail) %> |
<%= link_to 'Back', furniture_details_path %>
