<%=
  render 'admin/shared/index',
    title: "لیست #{t("activerecord.models.#{Admin::Pricing::Const.model_name.i18n_key}")}",
    title_right: lambda {
      link_to new_admin_pricing_const_url, class: 'inline-html-call' do
        raw "<span class='fa fa-plus'></span> ایجاد داده‌ی جدید"
      end
    },
    editable_content: false,
    before_table: lambda {
      raw "<div class='alert alert-warning'><strong>توجه:</strong> واحد ارزی به «<b>تومان</b>» می‌باشد.</div><small style='font-size: 16px;' class='text-muted pull-left'>#{page_entries_info @admin_pricing_consts}</small>"
    },
    after_table: lambda {
      raw "<div class='text-center' style='vertical-align: middle'>#{will_paginate @admin_pricing_consts, renderer: BootstrapPagination::Rails}</div>"
    },
    table_head: {
      'ردیف': { style: 'width: 30px' },
      'گونی': { },
      'چسب': { },
      'پایه‌ی مبل': { },
      'سقه': { },
      'میخ': { },
      'کوسن اضافی': { },
      'اضافی': { },
      'آخرین بروزرسانی': { style: 'width: 130px' }
    },
    table_body: lambda {
%>
  <% @admin_pricing_consts.each do |ins| %>
    <tr>
      <td><%= ins.id %></td>
      <td><%= ins.guni.to_s.to_money %></td>
      <td><%= ins.chasb.to_s.to_money %></td>
      <td><%= ins.payemobl.to_s.to_money %></td>
      <td><%= ins.sage.to_s.to_money %></td>
      <td><%= ins.mikh.to_s.to_money %></td>
      <td><%= ins.cushin.to_s.to_money %></td>
      <td><%= ins.extra.to_s.to_money %></td>
      <td class='datetime' data-date='<%= ins.updated_at %>'></td>
    </tr>
  <% end %>

<% } %>