<p id="notice"><%= notice %></p>

<p>
  <strong>Guni:</strong>
  <%= @admin_pricing_const.guni %>
</p>

<p>
  <strong>Chasb:</strong>
  <%= @admin_pricing_const.chasb %>
</p>

<p>
  <strong>Payemobl:</strong>
  <%= @admin_pricing_const.payemobl %>
</p>

<p>
  <strong>Sage:</strong>
  <%= @admin_pricing_const.sage %>
</p>

<p>
  <strong>Mikh:</strong>
  <%= @admin_pricing_const.mikh %>
</p>

<%= link_to 'Edit', edit_admin_pricing_const_path(@admin_pricing_const) %> |
<%= link_to 'Back', admin_pricing_consts_path %>
