<p id="notice"><%= notice %></p>

<h1>Parche Designs</h1>

<table>
  <thead>
    <tr>
      <th>Details</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parche_designs.each do |parche_design| %>
      <tr>
        <td><%= parche_design.details %></td>
        <td><%= parche_design.cost %></td>
        <td><%= link_to 'Show', parche_design %></td>
        <td><%= link_to 'Edit', edit_parche_design_path(parche_design) %></td>
        <td><%= link_to 'Destroy', parche_design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parche Design', new_parche_design_path %>
