<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @parche_design.details %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @parche_design.cost %>
</p>

<%= link_to 'Edit', edit_parche_design_path(@parche_design) %> |
<%= link_to 'Back', parche_designs_path %>
