<div class='container'>
  <%= path_to_here! @furniture_type.name %>
  <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12 furniture-right-pannel pull-right'>
    <fieldset class='col-md-12'>
      <legend><span class='fa fa-chevron-left'></span> پنل تنظیمات</legend>
  <% acu_as :admin do %>
      <div>
        <strong>مدیریت</strong>
        <br />
        <div style='margin: 10px'>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <%= link_to edit_furniture_type_path(@furniture_type), :class => 'btn btn-default inline-html-call' do %>
              <span class='fa fa-pencil'></span> ویرایش این دسته
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right ir">
              <li>
                <%= link_to archive_furniture_type_path(@furniture_type), :method => :delete, data: { :confirm => {title: 'این دسته‌بندی آرشیو شود؟', message: 'توجه شود که در صورت تمایل بعدا از طریق پنل مدیریتی سابت می‌توانید این دسته‌بندی را «از آرشیو خارج» یا «حذف» نماید؛ تا زمانی که این دسته‌بندی در آرشیو می‌باشد امکان مشاهده و اعمال تغییرات برای این دسته‌بندی وجود ندارد.'} }, :class => 'bg-warning' do %>
                  <b><span class='fa fa-archive'></span> آرشیو</b>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to furniture_type_path(@furniture_type), :method => :delete, data: { :confirm => {title: 'آیا از انجام این عمل اطمینان دارید؟', message: 'با انچام این عمل کلیه‌ داده‌های این دسته‌بندی و مجموعه‌ی محصولات مرتبط با این دسته‌بندی حذف خواهند شد و این عملیات قابل بازیابی نیست!'} }, :class => 'bg-danger' do %>
                  <b><span class='fa fa-trash'></span> حذف</b>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="...">


          </div>

          <hr />
          <%= link_to new_furniture_path(:cat => @furniture_type.id), :class => 'btn btn-success inline-html-call' do %>
            <span class='fa fa-plus'></span> اضافه کردن محصول
          <% end %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: xbold; color: #222">
              دیگر عملیات‌ها <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right ir">
              <li>
                <%= link_to '#', :class => 'text-warning' do %>
                  <span class='fa fa-pause'></span> اعلام ناموجودی
                <% end%>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to '#', :class => 'text-danger' do %>
                  <span class='fa fa-minus'></span> حذف
                <% end%>
              </li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
  <% end %>
      <div>
        <strong>مرتب سازی و جستجو</strong>
        <hr />
      </div>
      <div>
        <strong>بازه‌ی قیمت</strong>
        <hr />
      </div>
      <div>
        <strong>تعداد ست</strong>
        <hr />
      </div>
    </fieldset>
  </div>
  <fieldset class='col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-left'>
    <legend><span class='fa fa-chevron-left'></span> دسته بندی: <b><%= @furniture_type.name %></b></legend>
    <% list_or_prompt @furniture, 'محصولی در این دسته‌بندی یافت نشد.' do |f| %>
      <% col_scales = [6, 6, 6, 12] %>
      <div class="furniture-item col-lg-<%= col_scales[0] %> col-md-<%= col_scales[1] %> col-sm-<%= col_scales[2] %> col-xs-<%= col_scales[3] %>" style='margin-bottom: 30px'>
        <div class='furniture-content'>

        <div class="thumbnail">
          <%= link_to image_tag(f.images[f.cover_details["index"].to_i].thumb.url, :class => 'img img-thumbnail img-responsive', :style => 'width: 100%; height: 250px'), f %>
          <div class="caption" style='padding: 20px'>
            <dl>
              <dt>نام مدل</dt>
              <dd><%= f.name %></dd>
              <dt>قیمت</dt>
              <dd><%= f.cost? %> <%= AppConfig.currency %></dd>
              <dt>درباره‌ی طرح</dt>
              <dd class='text-justify'><%= (f.comment * 30)[0..140] %></dd>
            </dl>
            <div class='clearfix'></div>
            <p><%= link_to 'مشاهده‌ جزئیات', f, :class => 'info btn btn-primary pull-left' %></p>
            <div class='clearfix'></div>
          </div>
        </div>

        </div>
      </div>
    <% end %>
  </fieldset>
</div>
