<%= javascript_include_tag 'vendors/wizard-tabline' %>
<%= stylesheet_link_tag    'vendors/wizard-tabline', media: 'all' %>
<div class="row" id='fabrics-form'>
  <section>
    <div class="wizard-tabs">
      <div class="wizard-tabs-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
				  <li class="active pull-right" role="presentation">
            <a aria-controls="general-form-tab-content" data-toggle="tab" href="#general-form-tab-content" role="tab" title="اطلاعات کلی">
            	<span class="round-tab"><i class="fa fa-database"></i></span>
          	</a>
        	</li>
				  <li class="disabled pull-right" role="presentation">
            <a aria-controls="design-form-tab-content" data-toggle="tab" class="expect-data-href" href="#design-form-tab-content" role="tab" title="اطلاعات طرح‌ها">
            	<span class="round-tab"><i class="fa fa-th-large"></i></span>
          	</a>
        	</li>
          <li class="disabled" role="presentation">
            <a aria-controls="final-tab-content" data-toggle="tab" href="#final-tab-content" role="tab" title="نتیجه">
            	<span class="round-tab"><i class="fa fa-check"></i></span>
          	</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="tab-content" id="fabric-info-content">
	<% details = {
		"general-form": "01_general"
	} %>
	<% details.keys.each.with_index do |k, index| %>
	  <div aria-labelledby="<%= k %>-tab" class="tab-pane fade <%= index == 0 ? 'active in' : '' %>" id="<%= k %>-tab-content" role="tabpanel" style="margin: 20px;">
  		<%= render "admin/furniture_fabrics/forms/#{details[k]}", admin_furniture_fabric: admin_furniture_fabric, submit_text: submit_text  %>
			<div class='clearfix'></div>
	  </div>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		var update_nav_data_href = function() {
			$('#fabrics-form [data-toggle="tab"][data-href]').off('click.navdatahref').on('click.navdatahref', function(){
				$('#fabric-info-content').find($(this).attr('href')).fadeOut(function() { $(this).remove(); });
				$('#fabric-info-content').append('<div aria-labelledby="' + $(this).attr('aria-labelledby') + '" class="tab-pane fade text-center" id="' + $(this).attr('href').substr(1) +  '" role="tabpanel" style="margin: 20px;"></div>');
				$('#fabric-info-content').find($(this).attr('href')).html('<span class="fa fa-spinner fa-spin fa-2x"></span>');
				$('#fabric-info-content .tab-pane').removeClass('active in');
				$('#fabric-info-content ' + $(this).attr('href')).load($(this).attr('data-href'), function() { $(this).removeClass('text-center'); }).addClass('active in');
			})
			$('#fabrics-form .active [data-toggle="tab"]').click();
		};
		$('#general-form-tab-content form').on('ajax:success', function(e, data) {
			$('#fabrics-form [data-toggle="tab"]').each(function(index){
				$(this).attr('data-href', '<%= edit_admin_furniture_fabric_path(id: "--0--", pv: "--1--") %>'.replace('--0--', data.id).replace('--1--', index));
			});
			update_nav_data_href();
		});
		update_nav_data_href();
	})
</script>