<%= redirect_form(admin_user_type) do |f| %>    
  <div class='block'>
    <div class="field">
      <%= f.text_field :name, label: 'نام نوع کاربری' %>
    </div>
    
    <div class="field">
      <%= f.text_area :symbol, label: 'سیمبل' %>
    </div>
  
    <div class="field">
      <%= f.text_area :comment, label: 'توضیحات' %>
    </div>
  
    <div class="field">
      <%= f.number_field :auth_level, label: 'سطح دسترسی' %>
    </div>
  </div>
  
  <div class="actions pull-left">
    <%= f.submit 'ثبت اطلاعات' %>
  </div>
<% end %>