<%= 
	render 'admin/shared/index',
	  title: 'لیست انواع کاربران',
	  editable_content: false,
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'عنوان': { style: 'width: 12%' },
			'توضیحات': { },
			'سطح دسترسی': { style: 'width: 12%' },
		},
		table_body: lambda {
%>
  <% @admin_user_types.each do |admin_user_type| %>
    <tr>
      <td>
      	<%= admin_user_type.id %>
    	</td>
      <td>
        <%= admin_user_type.name %>
      </td>
      <td>
        <%= admin_user_type.comment %>
      </td>
      <td>
      	<%= admin_user_type.auth_level %>
      </td>
    </tr>
  <% end %>

<% } %>
