<div class='col-md-offset-2 col-md-8'>
  <legend>
    <h1 class='pull-right'> انواع کاربران</h1>
    <small class='pull-left' style='font-size: 16px; margin-top: 40px;'>
      <%= link_to new_admin_user_type_path, class: 'inline-html-call' do %>
        <span class='fa fa-plus'></span>
        ایجاد نوع جدید
      <% end %>
    </small>
    <div class='clearfix'></div>
  </legend>
  
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>ردیف</th>
        <th>نام</th>
        <th>توضیحات</th>
        <th>سطح دسترسی</th>
        <th colspan="3">عملیات</th>
      </tr>
    </thead>
  
    <tbody>
      <% @admin_user_types.each do |admin_user_type| %>
        <tr>
          <td><%= admin_user_type.id %></td>
          <td><%= admin_user_type.name %></td>
          <td><%= admin_user_type.comment %></td>
          <td><%= admin_user_type.auth_level %></td>
          <td><%= link_to 'ویرایش', edit_admin_user_type_path(admin_user_type), class: 'text-warning inline-html-call' %></td>
          <td><%= link_to 'حذف', admin_user_type, method: :delete, data: { confirm: 'آیا از انجام این عمل مطمئن هستید؟' }, class: 'text-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
