<% if @furniture.images.length > 0 %>

  <% conf = AppConfig.css.furniture.cover %>

  <div class='container-fluid' style='margin: 0; padding: 0'>
  	<%= create_cover image_url(@furniture.images[@furniture.cover_details['index'].to_i]), thumb: @furniture.images[@furniture.cover_details['index'].to_i].thumb.url, height: (conf.height.to_s + conf.height_unit), style: "background-position: center #{@furniture.cover_details['pos']};", id: 'div-f-cover' %>
  </div>
	<div id='furniture-cover'>
<% acu_as :admin do %>
		<div id='cover-options'>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right" role="toolbar">
				  <%= button_tag :class => "btn btn-default inline-html-call", id: 'show-cover-options-controls' do %>
				  	<span class='fa fa-photo'></span> تنظیم پروفایل
			  	<% end %>
			</div>
			<div id='cover-options-controls' class="hidden">
			  <div id='scroller'></div>
		  </div>
		</div>
<% end %>

		<div class="container text-center">
		  <div id='cover-container'>
				<div class='cover-scroller col-lg-1 col-md-1 col-sm-1 col-xs-1 disabled' data='left'><span class='fa fa-chevron-left'></span></div>
				<div id='cover-collection' class='photo-gallery-collection col-lg-10 col-md-10 col-sm-10 col-xs-10'>
					<% @furniture.images.each.with_index do |i, index| %>
						<%= link_to image_url(i), 'data-type' => 'photo-gallery', data: { index: index, thumb: thumbnail_url(i), cover: @furniture.cover_details["index"].to_i == index, 'cover-url': cover_admin_furniture_path(@furniture, format: :json)  }  do %>
							<%= image_tag thumbnail_url(i), :class => 'cover-item img-responsive img-thumbnail', style: 'height: 150px;' %>
						<% end %>
					<% end %>
				</div>
				<div class='cover-scroller col-lg-1 col-md-1 col-sm-1 col-xs-1 disabled hidden' data='right'><span class='fa fa-chevron-right'></span></div>
			</div>
		</div>
		<div class='clearfix'></div>
    <div class="clear-absolute"></div>
	</div>
	<script type="application/javascript">
		$(document).ready(function(){
			// this is a fix for turbolink's UI glinch bug
			// we enable scrolling after 1.5sec of page loading
			setTimeout(function(){
				// if we have overflow and need to scroll?
				if($('#cover-collection')[0].scrollWidth > $('#cover-collection').width())
					$('.cover-scroller[data="left"]').removeClass('disabled')
			}, 1000);
			
			// load thumbnail first and set the cover when it's loaded
			$('#div-f-cover[data-thumb]').each(function(){	
				$(this)
					.data('background-image', $('#div-f-cover[data-thumb]').css('background-image'))
					.css('background-image', 'url("' + $(this).attr('data-thumb') + '")');
					var newImg = new Image;
					$this = $(this)
					newImg.onload = function() { $this.css('background-image', 'url("' + this.src + '")'); }
					newImg.src  = $(this).data('background-image').replace(/^url\(["']?/, '').replace(/["']?\)$/, '');
			})

			$('#furniture-cover .cover-scroller[data]').click(function() {
				event.preventDefault();
				if($(this).attr('data') == 'right') {
					$('#cover-collection').animate({scrollLeft: '+=200'}, 'fast');
					if($('#cover-collection')[0].scrollWidth - $('#cover-collection').scrollLeft() - $('#cover-collection').width() <= 221)
						$(this).addClass('disabled');
					$('#furniture-cover .cover-scroller[data="left"]').removeClass('disabled');
				} else if($(this).attr('data') == 'left') {
					$('#cover-collection').animate({scrollLeft: '-=200'}, 'fast');
					if($('#cover-collection').scrollLeft() < 200)
						$(this).addClass('disabled');
					$('#furniture-cover .cover-scroller[data="right"]').removeClass('disabled');
				}
			});
		<% acu_as :admin do %>
		  cover_options_btn = $('#cover-options [role=toolbar] .btn#show-cover-options-controls');
		  cover_options_btn.data('origin-html', cover_options_btn.html());
		  cover_options_btn.click(function(){
		    $('#cover-options > #cover-options-controls').toggleClass('hidden');
		    if($(this).hasClass('btn-success')) {
		      $('form[name="cover-config"] input#admin_furniture_cover')
		        .val($('#div-f-cover').css('background-position-y'))
		        .closest('form')
		          .submit();
          // we need to get out of .click to be able to blur the button 
		      setTimeout(function(){ 
		      	cover_options_btn
			        .html(cover_options_btn.data('origin-html'))
			        .removeClass('btn-success active')
			        .addClass('btn-default')
			        .blur()
	       	}, 100);
		    }
		  });
		
		  $('#scroller').slider({
		      orientation: "vertical",
		      min: -100,
		      max: 0,
		      value: -$('#div-f-cover').css('background-position').split(' ')[1].replace('%', ''),
		      step: 1,
		      slide: function( event, ui ) {
		        $('#div-f-cover').css('background-position-y', Math.abs(ui.value) + '%');
		        cover_options_btn
		          .html("<span class='fa fa-save'></span> ذخیره‌ تنظیمات پروفایل")
		          .removeClass('btn-default')
		          .addClass('btn-success');
		      }
		  });
	  <% end %>
		});
	</script>
	
  <%= form_tag cover_admin_furniture_path(format: :json), name: 'cover-config', method: :post, :remote => true do %>
    <% hidden_field_tag 'admin_furniture[cover]' %>
  <% end %>
	
	<%= render 'shared/photo_gallery', collection: @furniture %>
	<%= render 'shared/photo_gallery_cover', collection: @furniture, js_on_cover_set: "$('#div-f-cover').css('background-image', 'url('+gallery.items[idx].src+')')" %>
<% end %>
