<div class='container'>
  <%= define_path_to_here! [{label: 'دسته‌بندی', href: request.path}, {label: @furniture_type.name}] %>
  <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12 furniture-right-pannel pull-right'>
    <fieldset class='col-md-12'>
      <legend><span class='fa fa-chevron-left'></span> پنل تنظیمات</legend>
  <% acu_as :admin do %>
      <div>
        <strong>مدیریت</strong>
        <br />
        <div style='margin: 10px'>
          <%= link_to edit_admin_furniture_type_path(@furniture_type), :class => 'btn btn-default inline-html-call' do %>
            <span class='fa fa-pencil'></span> ویرایش این دسته
          <% end %>
          <hr />
          <%= link_to new_admin_furniture_furniture_path(:cat => @furniture_type.id), :class => 'btn btn-success inline-html-call' do %>
            <span class='fa fa-plus'></span> اضافه کردن محصول
          <% end %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: xbold; color: #222">
              دیگر عملیات‌ها <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right ir">
              <li>
                <%= link_to '#', :class => 'text-warning' do %>
                  <span class='fa fa-pause'></span> اعلام ناموجودی
                <% end%>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to '#', :class => 'text-danger' do %>
                  <span class='fa fa-minus'></span> حذف
                <% end%>
              </li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
  <% end %>
      <div>
        <strong>مرتب سازی و جستجو</strong>
        <hr />
      </div>
      <div>
        <strong>بازه‌ی قیمت</strong>
        <hr />
      </div>
      <div>
        <strong>تعداد ست</strong>
        <hr />
      </div>
    </fieldset>
  </div>
  <fieldset class='col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-left'>
    <legend><span class='fa fa-chevron-left'></span> دسته بندی: <b><%= @furniture_type.name %></b></legend>
    <% list_or_prompt @furniture, 'محصولی در این دسته‌بندی یافت نشد.' do |f| %>
      <% col_scales = [6, 6, 6, 12] %>
      <div class="furniture-item col-lg-<%= col_scales[0] %> col-md-<%= col_scales[1] %> col-sm-<%= col_scales[2] %> col-xs-<%= col_scales[3] %>" style='margin-bottom: 30px'>
        <div class='furniture-content'>
	        <div class="thumbnail">
	          <%= link_to image_tag(image_url(f.images[f.cover_details["index"].to_i], thumb: true), :class => 'img img-thumbnail img-responsive', :style => 'width: 100%; height: 250px'), home_furniture_path(f) %>
	          <div class="caption" style='padding: 20px; font-size: 120%'>
	          	<table class="table no-layout <%= f.available? ? "" : "text-muted" %>">
	          		<thead class="no-layout">
	          			<tr>
	          				<th style="width: 150px"></th>
	          				<th style="overflow: auto"></th>
          				</tr>
          			</thead>
	          		<tbody class="no-layoutx">
	          			<tr>
	          				<td>نام مدل</td>
	          				<td><%= f.name %></td>
	          			</tr>
	          			<tr>
	          				<td>قیمت</td>
	          				<td>
			              	<% if f.available and f.cost? > 0 %>
			              		<%= f.cost?.to_s.to_money %> <%= AppConfig.currency %>
		              		<% else %>
		              			<small>-</small>
		              		<% end %>
	          				</td>
	          			</tr>
	          			<tr>
	          				<td colspan="2">
	          					<p class='text-justify' style="font-xsize: 80%">
	          						<%= f.comment%>
          						</p>
          						<%= raw '<span style="display:inline-block; width: 3pt"></span>' * (Admin::Furniture::Furniture.columns_hash['comment'].limit - f.comment.length) %>
        						</td>
	          			</tr>
	          		</tbody>
          		</table>
	            <div class='clearfix'></div>
	            <p style="position: relative; bottom: 0px">
	            	<%= link_to 'مشاهده‌ جزئیات', home_furniture_path(f), :class => 'info btn btn-primary pull-left' %>
	            	<span style='position: relative; top: 5px' class="label label-<%= f.available ? 'success' : 'warning' %>"><%= f.available ? 'قابل سفارش' : 'غیرقابل سفارش' %></span>
		            <div class='clearfix'></div>
            	</p>
	          </div>
	        </div>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>
