<%= javascript_include_tag 'admin/furniture/furntiures' %>
<%= stylesheet_link_tag    'admin/furniture/furnitures', media: 'all' %>

<%= render 'furniture_cover', :furniture => @furniture %>
<% subscribed_on_avail = (user_signed_in? and NotifyOnFurnitureAvailable.exists?(admin_furniture_id: @furniture.id, phone_number: current_user.phone_number)); %>
<style type="text/css" media="screen">
	.block th { direction: rtl; text-align: right; }
</style>

<div class='clearfix'></div>
<div class='container'>
<% acu_as :admin do %>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block ir' id='furniture-detail-block0'>
		<legend>پنل مدیریتی</legend>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right" role="toolbar" style='padding-top: 10px;'>
			<%= check_awesome 'قابل تولید است؟', '', checked: @furniture.available?, name: "furniture[available]" %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right" role="toolbar">
			  <%= link_to edit_admin_furniture_furniture_path(@furniture), :remote => true, :class => "btn btn-default inline-html-call" do %>
			  	<span class='fa fa-pencil'></span> ویرایش
		  	<% end %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-left" role="toolbar">
			  <%= link_to admin_furniture_furniture_path(@furniture, admin: :client), :class => "btn btn-danger", :method => :delete, data: { :confirm => {:title => 'آیا از حذف این محصول اطمینان دارید؟', :message => 'توجه فرمایید که با انجام این عملیات بازیابی اطلاعات این محصول غیرممکن خواهد بود!'} } do %>
			  	<span class='fa fa-times'></span> حذف
		  	<% end %>
		</div>
		<div class='clearfix'></div>
	</div>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$("input[name='furniture[available]']").on('change', function() {
				$.ajax({
					url: '<%= toggle_available_admin_furniture_furniture_path(@furniture) %>',
					method: 'put',
					dataType: 'json',
					success: function(data, status, xhr) {
			    	// redirect if any redirection header specified
			    	if(xhr.getResponseHeader('Location'))
			    		window.location = xhr.getResponseHeader('Location');
					},
					error: function(xhr) {
						$("input[name='furniture[available]']").prop('checked', !$("input[name='furniture[available]']").prop('checked'));
						data = { message: '<span class="text-danger"><span class="fa fa-exclamation-triangle"></span> خطا در انجام عملیات!</span>' }
						if(xhr.responseJSON !== undefined && xhr.responseJSON.message !== undefined) {
							data = {
								title: data.message,
								message: xhr.responseJSON.message
							}
						}
						bootbox.alert(data);
					}
				});
			});
		})
	</script>
<% end %>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block <%= not(@furniture.available) ? "text-muted" : "" %>' id='furniture-detail-block1'>
		<div class='col-lg-3 col-md-3 col-sm-3 hidden-xs pull-right'>
			<%= image_tag 'logo.png', :class => 'img img-responsive' %>
		</div>
		<fieldset class='col-lg-6 col-md-6 col-sm-9 col-xs-12 pull-right'>
			<table class='table'>
				<thead>
					<tr>
						<th colspan='4' class='ir'>توضیحات:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>نام مدل</th>
						<td><%= @furniture.name %></td>
						<th>دسته‌بندی</th>
						<td><%= link_to @furniture.type.name, home_category_path(@furniture.type) %></td>
					</tr>
    			<tr>
    				<td>قیمت <small class="text-muted" style="font-weight: normal">(ست <%= AppConfig.preference.furniture.unit %> نفره)</small></td>
    				<td>
            	<% if @furniture.available and @furniture.cost? > 0 %>
            		<span class="text-success"><%= @furniture.cost?.to_s.to_money %> <%= AppConfig.currency %></span>
          		<% else %>
          			-
          		<% end %>
    				</td>
    				<td>زمان تکمیل سفارش</td>
    				<td>
    					<% if @furniture.days_to_complete > 0 and @furniture.available %>
    						<%= @furniture.days_to_complete %> روز
  						<% else %>
  							-
							<% end %>
						</td>
    			</tr>
    			<tr>
						<th>وضعیت</th>
						<td>
							<span class="label label-<%= @furniture.available ? 'success' : 'warning' %>"><%= @furniture.available ? 'قابل سفارش' : 'غیرقابل سفارش' %></span>
						</td>
						<td colspan="2"></td>
  				</tr>
					<tr>
						<th>درباره‌ی طرح</th>
						<td colspan="3"><%= raw @furniture.comment %></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center' style='padding: 0; padding-top: 40px;'>
		  <div class='col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 order'>
		  	<% if @furniture.available %>
	  		  <div class='btn-order' data-target="<%= @furniture.id %>">
	  		    <label>سفارش محصول</label>
	  		    <div><span class='fa <%= @furniture.available ? 'fa-truck' : 'fa-bell-o' %>'></span></div>
	  	    </div>
			    <p style=''>توجه فرمایید که می‌توانید در مرحله‌ تکمیل خرید، کلیه‌ی سفارشات خود را با تغییرات دلخواه از ما بخواهید.</p>
	    	<% else %>
					<%= check_awesome 'مرا در جریان بگذار!', 'می‌توانیم شما را از <span class="label label-success">قابل سفارش</span> شدن این محصول در آینده مطلع کنیم.', name: 'notify-me', checked: subscribed_on_avail %>
	    	<% end %>
	    </div>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-6 col-xs-12 text-success pull-left block-footer' style="font-weight: bold">
			<hr />
			<div id="sell-conditions">
				<div class='col-md-3'><span class='fa fa-money'></span> پرداخت در محل</div>
				<div class='col-md-3'><span class='fa fa-check'></span> تضمین بهترین کیفیت</div>
				<div class='col-md-3'><span class='fa fa-shield'></span> دو سال گارانتی</div>
				<div class='col-md-3'><span class='fa fa-refresh'></span> ۷ روز ضمانت بازگشت</div>
			</div>
			<div id="notify-me-form" class='hidden' style='color: black'>
			  <%= redirect_form "", url: home_furniture_notify_path, remote: true do |f| %>
			  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			  	<%= hidden_field_tag :fid, @furniture.id %>
			  	<div class='row'>
						<% acu_as :guest do %>
				  	<%= f.telephone_field :phone_number, label: 'لطفا شماره موبایل خود را وارد کنید:', wrapper: {class: 'col-md-6 col-sm-12 col-xs-12 pull-right'}, placeholder: '09*********',  autofocus: true, maxlength: 11, name: 'phone_number', required: true %>
				  	<% end %>
				  	<div class='col-md-6 col-sm-12 col-xs-12 <%= user_signed_in? ? 'pull-right' : '' %>'>
			  			<%= recaptcha_tag callback: 'notify_me_enable' %>
				  	</div>
			  	</div>
			  	<div class='clearfix'></div>
			  	<hr />
			  	<div class='field'>
				  	<%= link_to '#', class: 'btn btn-success btn-submit disabled', onclick: 'notify_me_submit(); return false;' do %>
				  		<span class="fa fa-trash-o"></span>
				  		<span avail-checked="false" class="<%= subscribed_on_avail ? '' : 'hidden' %>">حذف پیگیری</span>
				  		<span avail-checked="true" class="<%= subscribed_on_avail ? 'hidden' : '' %>">ثبت شماره</span>
				  	<% end %>
				  	<%= link_to '#', class: 'btn btn-danger', onclick: '$("[name=\"notify-me\"]").click(); return false;' do %>
				  		<span class='fa fa-times'></span> انصراف
			  		<% end %>
			  	</div>
				<% end %>
			</div>
		</div>
		<div class='clearfix'></div>
	</div>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block' id='furniture-detail-block2'>
		<div class='row'>
			<fieldset class='col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right'>
				<legend>مدل <%= @furniture.type.name %>: <b><%= @furniture.name %></b>
			  <% acu_as :admin do %>
			     <small class='pull-left'><%= link_to raw('<small class="fa fa-pencil" style="font-size: 80%; margin-top: 5px"></small> <span>ویرایش متن<span>'), edit_description_admin_furniture_furniture_path, remote: true, id: 'edit-furniture-description' %></small>
			  <% end %>
				</legend>
				<div class='text-justify' style='font-size: 20px!important' id="furntiure_description">
					<%= raw @furniture.description_html %>
				</div>
				<div id='furntiure_description-edit-zone' class='hidden'></div>
			</fieldset>
			<fieldset class='col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left'>
				<legend>جزئیات این مدل</legend>
				<table class='table' style='margin-top: -20px;'>
					<tbody>
						<tr>
							<th>ابر</th>
							<td><%= 10 %> متر</td>
						</tr>
						<tr>
							<th>پارچه</th>
							<td><%= 10 %> متر</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		// order furniture click event
		$("#furniture-detail-block1 .btn-order").click(function(){ window.location = "<%= order_order_path(@furniture, h: get_hash(@furniture.id)) %>"; });
		$('a#edit-furniture-description').click(function(e){
			e.preventDefault();
			e.stopPropagation();
			if($(this).hasClass('editing')) {
				$('#furntiure_description').removeClass('hidden');
				$('#furntiure_description-edit-zone').addClass('hidden');
				$(this).removeClass('editing');
				$(this).find('span').html('ویرایش متن');
				$(this).find('.fa').attr('class', 'fa fa-pencil');
			} else {
				$(this).find('.fa').attr('class', 'fa fa-spinner fa-spin');
				$('#furntiure_description').addClass('hidden');
				$('#furntiure_description-edit-zone').removeClass('hidden');
				$this = $(this);
				$('#furntiure_description-edit-zone')
					.load($(this).attr('href'), function(){ 
						$this
							.addClass('editing') 
							.find('span').html('لغو ویرایش');
						$this.find('.fa').attr('class', 'fa fa-times');
					});
			}
			$(this).blur();
		});
		$('input#add_to_cart').change(function(){
			method = "post";
			url = '<%= shopping_carts_path %>.json';
			if(!this.checked) {
				method = "delete";
				url = '<%= shopping_carts_path	%>/' + $(this).data('id') + '.json';
				$('[for="add_to_cart"] .title').text('به سبد خرید اضافه کن!');
			} else {
				$('[for="add_to_cart"] .title').text('به سبد خرید اضافه شد.');
			}
	
			$.ajax({
			  type: "POST",
			  url: url,
			  data: { shopping_cart: { furniture_id: <%= @furniture.id %> }, _method: method },
			  success: function(data) {
			  	if(data.id != undefined)
				  	$('input#add_to_cart').data('id', data.id)
		  		else
		  			$('input#add_to_cart').removeData('id');
	  			update_the_shopping_cart_banner(data._count)
		  	},
			  error: function() {
			  	bootbox.alert({title: 'خطا در ارسال داده!', message: 'لطفا صفحه را Refresh کنید و در صورت ادامه‌ی بروز این مشکل تیم توسعه سابت را از\
			  	<%= link_to 'این طریق', contact_us_path(:section => 'development', :cause => 'invalid request', :url => request.url, :details => [__FILE__.gsub(Rails.root.to_s, ""), __LINE__]) %>\
			  	در جریان بگذارید\
			  	<strong>و بن تخفیف بگیرید!</strong>\
			  	'})
			  	$('input#add_to_cart').prop('checked', !$('input#add_to_cart').prop('checked'));
			  }
			});
		})<%= raw ".data('id', '#{@shopping}')" if @shopping %>;
	});
</script>
