<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_stuff_abr.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @admin_furniture_stuff_abr.value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_stuff_abr.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_stuff_abr_path(@admin_furniture_stuff_abr) %> |
<%= link_to 'Back', admin_furniture_stuff_abrs_path %>
