<p id="notice"><%= notice %></p>

<p>
  <strong>Order/order:</strong>
  <%= @admin_selling_payment_payment.order/order %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @admin_selling_payment_payment.amount %>
</p>

<p>
  <strong>Trans:</strong>
  <%= @admin_selling_payment_payment.trans_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_selling_payment_payment.status %>
</p>

<%= link_to 'Edit', edit_admin_selling_payment_payment_path(@admin_selling_payment_payment) %> |
<%= link_to 'Back', admin_selling_payment_payments_path %>
