<% %w(blueimp-gallery.min jquery.fileupload jquery.fileupload-ui).each do |css| %>
	<%= stylesheet_link_tag 'image_upload/%s.css' %css, media: 'all' %>
<% end %>
<noscript>
	<% %w(jquery.fileupload-noscript jquery.fileupload-ui-noscript).each do |css| %>
		<%= stylesheet_link_tag 'image_upload/%s.css' %css, media: 'all' %>
	<% end %>
</noscript>

<div style="margin: 0; padding: 0">
	<!-- The file upload form used as target for the file upload widget -->
	<%= form_tag uploaded_files_path, :id => "fileupload", :method => :post, :enctype => "multipart/form-data" do %>
	<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	<div class="row fileupload-buttonbar">
		<!-- The global progress state -->
		<div class="col-lg-5 fileupload-progress fade">
			<!-- The global progress bar -->
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-bar progress-bar-success pull-right" style="width:0%;"></div>
			</div>
			<!-- The extended global progress state -->
			<div class="progress-extended en">
				&nbsp;
			</div>
		</div>
		<div class="col-lg-7">
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span class="btn btn-success fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>اضافه کردن عکس</span>
				<input type="file" name="uploaded_files[images][]" multiple>
			</span>
			<button type="submit" class="btn btn-primary start">
				<i class="glyphicon glyphicon-upload"></i>
				<span>آپلود</span>
			</button>
			<button type="reset" class="btn btn-warning cancel">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>لغو کن!</span>
			</button>
			<button type="button" class="btn btn-danger delete">
				<i class="glyphicon glyphicon-trash"></i>
				<span>حذف</span>
			</button>
			<input type="checkbox" class="toggle">
			<!-- The global file processing state -->
			<span class="fileupload-process"></span>
		</div>
	</div>
	<!-- The table listing the files available for upload/download -->
	<table role="presentation" class="table table-striped">
		<tbody class="files"></tbody>
	</table>
	<% end %>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
	<td>
	<span class="preview"></span>
	</td>
	<td>
	<p class="name">{%=file.name%}</p>
	<strong class="error text-danger"></strong>
	</td>
	<td>
	<p class="size">پردازش...</p>
	<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
	</td>
	<td>
	{% if (!i && !o.options.autoUpload) { %}
	<button class="btn btn-primary start" disabled>
	<i class="glyphicon glyphicon-upload"></i>
	<span>شروع کن</span>
	</button>
	{% } %}
	{% if (!i) { %}
	<button class="btn btn-warning cancel">
	<i class="glyphicon glyphicon-ban-circle"></i>
	<span>لغو کن!</span>
	</button>
	{% } %}
	</td>
	</tr>
	{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-download fade">
	<td>
	<span class="preview">
	{% if (file.thumbnail_url) { %}
	<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnail_url%}" height="45"></a>
	{% } %}
	</span>
	</td>
	<td>
	<p class="name">
	{% if (file.url) { %}
	<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
	{% } else { %}
	<span>{%=file.name%}</span>
	{% } %}
	</p>
	{% if (file.error) { %}
	<div><span class="label label-danger">Error</span> {%=file.error%}</div>
	{% } %}
	</td>
	<td>
	<span class="size">{%=o.formatFileSize(file.size)%}</span>
	</td>
	<td>
	{% if (file.delete_url) { %}
	
	<%= link_to raw('<i class="glyphicon glyphicon-trash"></i><span>حذف</span>'), '{%=file.delete_url%}', :method => :delete, :remote => true, :class => 'btn btn-danger delete', "data-id" => '{%= file.id %}' %>
	
	<input type="checkbox" name="delete" value="1" class="toggle">
	{% } else { %}
	<button class="btn btn-warning cancel">
	<i class="glyphicon glyphicon-ban-circle"></i>
	<span>لغو کن!</span>
	</button>
	{% } %}
	</td>
	</tr>
	{% } %}
</script>

<% %w(jquery.ui.widget tmpl.min load-image.all.min jquery.iframe-transport jquery.fileupload jquery.fileupload-process jquery.fileupload-image jquery.fileupload-validate jquery.fileupload-ui).each do |js| %>
<%= javascript_include_tag 'image_upload/%s.js' %js %>
<% end %>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
	<%= javascript_include_tag 'file_upload/jquery.xdr-transport.js' %>
<![endif]-->

<script type="text/javascript" charset="utf-8">
	$(function() {
		'use strict';
		// Initialize the jQuery File Upload widget:
		$('form#fileupload').fileupload({
			// Uncomment the following to send cross-domain cookies:
			//xhrFields: {withCredentials: true},
			url: $('form#fileupload').attr('action'),
			autoUpload: true
		}).bind('fileuploaddone', function (e, data) {
			if(data.result.files[0].error !== undefined) return;
			<% if defined? target_form and target_form %>
				$('<%= target_form[:tag] %>').prepend('<input type="hidden" name="<%= target_form[:input] %>[]" value="'+data.result.files[0].id+'" />');
			<% else %>
				var kk = $('body').data('uploaded-files') || [];
				kk.push(data.result.files[0]);
				$('body').data('uploaded-files', kk);
			<% end %>
		}).bind('fileuploadcompleted', function (e, data) {		
			$("form#fileupload .btn.delete[data-id]").unbind('click').bind('click', function(e) {
				$('<%= target_form[:tag] %> input[type="hidden"][name="<%= target_form[:input] %>[]"][value="'+$(this).attr('data-id')+'"]').remove();
			});
		});
	});
</script>