<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Furniture:</strong>
  <%= @order.furniture %>
</p>

<p>
  <strong>Parche colour:</strong>
  <%= @order.parche_colour %>
</p>

<p>
  <strong>Parche design:</strong>
  <%= @order.parche_design %>
</p>

<p>
  <strong>Kande colour:</strong>
  <%= @order.kande_colour %>
</p>

<p>
  <strong>Count:</strong>
  <%= @order.count %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
