<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_wood_color.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @admin_furniture_wood_color.value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_wood_color.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_wood_color_path(@admin_furniture_wood_color) %> |
<%= link_to 'Back', admin_furniture_wood_colors_path %>
