<%=
  render 'admin/shared/index',
		before_table: lambda {
			text = ""
			text = "<p class='alert alert-danger'><b>توجه:</b> میزان سود هر مبل در سامانه تعریف نشده است، می‌توانید از #{link_to 'اینجا', admin_selling_config_profits_path} تعریف نمایید.</p>" if Admin::Selling::Config::Profit.last.nil?
			text += '	<div class="alert alert-success xalert-dismissible" role="alert">
								  <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <strong>توجه</strong> زمانی محصولی <b>قابل سفارش</b> می‌شود که <b>اطلاعات مرتبط</b> با آن «<b>تاببد</b>» شود و سپس «<b>قیمت‌گذاری</b>» گردد.
								</div>
								<div class="clearfix"></div>'
			raw text + "<small style='font-size: 16px;' class='text-muted pull-left'>#{page_entries_info @furnitures}</small>"
		},
		after_table: lambda {
			raw "<div class='text-center' style='vertical-align: middle'>#{will_paginate @furnitures, renderer: BootstrapPagination::Rails}</div>"
		},
    table_head: {
      'ردیف': { style: 'width: 30px' },
      'وضعیت': { style: 'width: 100px'},
      'دسته‌بندی': { style: 'width: 100px' },
      'نام مدل': { style: 'width: 120px' },
      'گالری': { style: 'width: 100px' },
      'درباره‌ی مدل': { },
      'قیمت (تومان)': { style: "width: 200px" },
      'آخرین بروزرسانی': { style: 'width: 130px' },
      'عملیات': { style: 'width: 90px' }
    },
    table_body: lambda {
%>
  <% @furnitures.each do |f| %>
    <%
    	next if f.deleted_at
      type_name = Admin::Furniture::Type.with_deleted.find(f.furniture_type_id).name;
      price = f.cost?
    %>
    <tr>
      <td><%= f.id %></td>
      <td>
      	<%
      		[
      			[
      				f.available?, "check text-success", "times text-warning",
      				"قابل سفارش",
      				"غیرقابل سفارش",
    				],
      			[
      				f.has_unconfirmed_data?, "info", "",
      				"دارای اطلاعات تایید نشده",
      				""
    				],
      			[
      				f.ready_for_pricing?, "money", "ban",
      				"قابل قیمت‌گذاری",
      				"حاوی اطلاعات ناقص"
    				]
  				].each do |item|
  					next if item.first and item[1].blank?
  					next if not item.first and item[2].blank?
      	%>
      		<span class="fa fa-<%= item.first ? item[1] : item[2] %>" data-toggle="tooltip" title="<%= item.first ? item[3] : item[4] %>"></span>
      	<% end %>
      </td>
      <td>
        <%= editable_tag f, :furniture_type_id, type: :select, value: f.furniture_type_id, source: admin_furniture_types_path, text: type_name %>
      </td>
      <td>
        <%= editable_tag f, :name %>
      </td>
      <td class='photo-gallery-collection-incomplete'>
      	<% i = f.images[f.cover_details["index"].to_i] %>
				<%= link_to image_url(i), data: { id: f.id, source: list_images_admin_furniture_furniture_path(f) } do %>
					<%= image_tag thumbnail_url(i), :class => 'cover-item img-responsive img-thumbnail', style: 'height: 40px; width: 70px' %>
				<% end %>
      </td>
      <td>
        <%= editable_tag f, :comment, type: :textarea, placement: :bottom, 'allow-empty': true, text: f.comment.blank? ? "«توضیحی ثبت نشده است.»" : f.comment %>
      </td>
      <td><label class="label label-<%= (price <= 0 or not(f.available)) ? "warning" : "success" %>" <%= raw (not(f.available) ? "data-toggle='tooltip' title='غیر‌قابل سفارش'" : "") %>><%= price <= 0 ? "قیمت‌گذاری نشده است." : price.to_s.to_money %></label></td>
      <td class='datetime' data-date='<%= f.updated_at %>'></td>
      <td>
        <% acu_as :admin do %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class='fa fa-superpowers'></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            	<li>
            		<%= link_to home_furniture_path(f), target: :_blank do %>
            			<span class='fa fa-eye'></span> مشاهده
            		<% end %>
            	</li>
            	<li class='divider'></li>
            	<li>
            		<%= link_to ls_intel_admin_furniture_furniture_path(f), class: 'inline-html-call' do %>
            			<span class='fa fa-book'></span> اطلاعات مرتبط
            		<% end %>
          		</li>
          		<% if f.ready_for_pricing? %>
          		<li>
          			<%= link_to edit_admin_selling_config_price_path(f), class: 'inline-html-call' do %>
          				<span class='fa fa-money'></span> تنظیم قیمت‌گذاری پیش‌فرض
          			<% end %>
        			</li>
        			<% end %>
            	<li class='divider'></li>
            	<li>
			          <%= link_to edit_admin_furniture_furniture_path(f, admin: :check), :class => 'inline-html-call' do %>
			            <span class='fa fa-pencil'></span> ویرایش
			          <% end %>
            	</li>
            	<li>
            		<% text = (f.available ? "غیرقابل سفارش کردن" : "قابل سفارش کردن") %>
			          <%= link_to toggle_available_admin_furniture_furniture_path(f, admin: :check), method: :put, data: { confirm: { message: "آیا از «<b>#{text}</b>» این مورد اطمینان دارید؟" } } do %>
			            <span class='fa fa-<%= f.available ? "times" : "check" %>'></span> <%= text %>
			          <% end %>
            	</li>
            	<li class='divider'></li>
            	<li>
				        <%= link_to f, method: :delete, data: { confirm: { title: "آیا از حذف این مورد اطمینان دارید؟", message: "توجه فرمایید که حذف این مورد غیر قابل بازگشت خواهد بود!" } }, class: 'text-danger' do %>
				          <span class='fa fa-trash'></span> حذف
				        <% end %>
            	</li>
            </ul>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>

<% } %>

<script type="text/javascript" charset="utf-8">
	function update_cover_thumb(idx) {
		item = gallery.items[idx];
		$('.photo-gallery-collection-incomplete a[data-source].active')
			.attr('href', item.src)
			.find('img')
				.attr('src', item.msrc + "?" + (new Date()).getTime())
		$('.photo-gallery-collection-incomplete a[data-source].active')
			.removeClass('active')
	}
	$(document).ready(function(){
		function append2gallery() {
			$('.photo-gallery-collection-incomplete a[data-source]').unbind('append2gallery').bind('append2gallery', function(e, data, index, gallery) {
				link = 
				'<%= link_to "{0}", data: { index: "{1}", thumb: "{2}", cover: "{3}", "cover-url": cover_admin_furniture_furniture_path("{4}", format: :json) } do %>\
					<%= image_tag "{2}", :class => "cover-item img-responsive img-thumbnail", style: "height: 40px; width: 70px" %>\
				<% end %>'
				.replace('%7B', '{').replace('%7D', '}')
				.replace('src="/images/{2}"', 'src="{2}"')
				.format(data.images[index].image.url, index, data.images[index].image.thumb.url, index == data.cover, $this.attr('data-id'))
				$(gallery).append(link);
			});
		};
		append2gallery();
		$(document).ajaxSuccess(append2gallery);
	})
</script>

<%= render 'shared/photo_gallery', collection: @furnitures %>
<%= render 'shared/photo_gallery_cover', collection: @furniture, js_on_cover_set: "update_cover_thumb(idx)" %>
