<p id="notice"><%= notice %></p>

<p>
  <strong>Controller:</strong>
  <%= @page_item.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @page_item.action %>
</p>

<p>
  <strong>Details:</strong>
  <%= @page_item.details %>
</p>

<%= link_to 'Edit', edit_page_item_path(@page_item) %> |
<%= link_to 'Back', page_items_path %>
