<%= render 'home/furniture_cover', furniture: @furniture, height: "350px", show_samples: false, admin_adjusts: false %>

<div class="container">
	<%= path_to_here! "محصول: #{@furniture.name}" %>
	<legend>
		سفارش پیشرفته /
		<small><%= link_to "محصول #{@furniture.name}", home_furniture_path(@furniture) %></small>
		<small><%= link_to raw("<small><span class='fa fa-sliders'></span> تغییر به سفارش ساده</small>"), simple_order_order_path(0, f: @furniture.id, h: get_hash(@furniture.id)), class: "pull-left" %></small>
	</legend>

	<ul class="breadcrumb-steps" id="order-stage-steps">
	  <li class="current">
	  	<a href="#step1">
	  		<em>تعداد و ست</em>
	  		<span>انتخاب تعداد و ست</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step2">
	  		<em>قدم اول: پارچه</em>
	  		<span>انتخاب طرح و رنگ</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step3">
	  		<em>قدم دوم: چوب</em>
	  		<span>انتخاب رنگ و نوع</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step4">
	  		<em>قدم سوم: کوسن</em>
	  		<span>تعداد کوسن‌ها</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step5">
	  		<em>قدم نهایی:</em>
	  		<span xstyle="padding-right: 50px;">بازبینی و تایید سفارش</span>
  		</a>
		</li>
	</ul>

	<button onclick="make_request(current_step)" class="btn btn-default">resend request</button>
	<div class="block" id="order-stages">
		<div id="step-container"></div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	var current_step = 1
	function make_request(step_id, data) {
		current_step = Number(step_id)
		$("#order-stage-steps a[href='#step" + current_step + "']")
			.closest('li')
				.addClass('current')
				.siblings('li')
					.removeClass('current')
		var $container = $("#order-stages #step-container");
		$.ajax({
			url: "<%= advance_steps_order_order_path(step_id: ":step_id") %>".replace(":step_id", current_step),
			data: data,
			method: 'post',
			beforeSend: function() {
				$container.html('<div class="text-center"><span class="fa fa-spinner fa-spin"></span> در حال بارگذاری</div>');
			},
			success: function(data) {
				$container.html(data)
			},
			error: function() {
				$container.html("<div class='text-center' style='border: 1px dotted #e7e7e7; padding: 30px;'><span class='fa fa-exclamation-triangle text-danger'></span> خطایی در بارگذاری رخ داده است.<br /> لطفا در صورت ادامه‌ی این خطا با بخش پشتیبانی تماس حاصل نمایید.</div>")
			}
		})
	}

	function get_step_data() {
		if(!$.isFunction(window["build_order_details_step" + current_step]))
			return null;
		var data = { details: eval("build_order_details_step" + current_step + "()") }
		data["details"]["step"] = current_step;
		return data;
	}

	function next_step() {
		make_request(current_step + 1, get_step_data());
	}
	function prev_step() {
		if(current_step > 1)
			make_request(current_step - 1, get_step_data());
	}

	$(document).ready(function() {
		make_request(current_step)
	});
</script>