<div id="step6">
	<legend><span class="fa fa-check"></span> <strong>تایید مبلغ و آدرس ارسال:</strong></legend>
	<div class="row" style="margin: auto 20px">
		<div class="panel panel-info">
		  <div class="panel-heading">
		  	<h2 class="panel-title">آدرس تحویل سفارش:</h2>
		  </div>
		  <div class="panel-body">
		  	<div class="row">
		  		<div class="col-md-12">
						<%= collection_select :order, :state_id, State.all, :id, :name, { prompt: 'لطفا استان محل اقامت خود را انتخاب کنید.', selected: current_user.profile.state_id }, required: true, layout: :default, class: 'selectpicker', data: { size: 10, :"live-search" => true } %>
	  			</div>
	  			<div class="col-md-12" style="padding-top: 10px">
			  		<label for="address">آدرس دقیق محل تحویل سفارش:</label>
			  		<%= text_area_tag :address, current_user.profile.address, style: 'padding: 10px' %>
		  		</div>
	  		</div>
	  	</div>
	  	<div class="panel-footer">
	  		<span class="fa fa-commenting-o"></span> در صورتی که آدرس محل تحویل سفارش متفاوت با آدرس مندرج در پروفایل شماست، به راحتی می‌توانید آدرس مورد نظر خود را تغییر دهید.
  		</div>
		</div>
	</div>
	<hr />
	<legend><span class="fa fa-credit-card"></span> <strong>فاکتور:</strong></legend>
	<div class="row" style="margin: auto 20px">
		<table class="table">
			<tbody>
				<tr>
					<td><span class="fa fa-shopping-cart"></span> هزینه‌ی سفارش</td>
					<td class="cost" data-cost="<%= @cost %>" style="font-weight: bold"><%= @cost.to_s.to_money %> تومان</td>
				</tr>
				<tr>
					<td><span class="fa fa-truck"></span> هزینه‌ی ارسال</td>
					<td class="cost" id="transit-cost" style="font-weight: bold"><span class='fa fa-spinner fa-spin'></span></td>
				</tr>
				<tr class="footer bg-success" style="font-weight: bold;">
					<td><span class="fa fa-plus" style='margin-top: 5px; position: relative;'></span> مجموع:</td>
					<td id="sumup-cost"><span class='fa fa-spinner fa-spin'></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<%= render 'order/orders/shared/nav', next_text: '<span class="fa fa-money" style="margin-top: 3px"></span> <b> پرداخت مبلغ سفارش</b>', next_class: 'btn-success' %>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var get_transit_price = function(state_id, callback, method, on_error) {
			if(typeof method === "undefined") method = "max"
			$.ajax({
				method: "post",
				url: "<%= transit_price_api_index_path %>",
				data: { method: method, state_id: state_id },
				success: callback,
				error: on_error
			})
		}
		$("#step6 select[name='order[state_id]']").change(function() {
			$("#transit-cost, #sumup-cost").html("<span class='fa fa-spinner fa-spin'></span>")
			get_transit_price(
				this.value,
				function(data) {
					$("#transit-cost")
						.attr("data-cost", data.price.toString().replace(",", ""))
						.html(data.price + " تومان");
					var cost = 0;
					$(".cost[data-cost]").each(function(){ cost += parseInt($(this).attr("data-cost")); });
					$("#sumup-cost").html(cost.toString().replace(/./g, function(c, i, a) {
					    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
					}) + " تومان")
				},
				"<%= AppConfig.preference.price.transit.compute_method %>",
				function() {
					$("#transit-cost, #sumup-cost").html("<span class='label label-danger' style='font-size: 17px'>خطا!</span>")
				})
		}).change();
		<% # submit the order and payment stuffs %>
		$("#step6 #step-nav .btn-success").click(function() {
			$.ajax({
				method: "post",
				url: "<%= submit_advance_order_order_path %>",
				data: { state_id: $("#step6 select[name='order[state_id]']").val(), address: $("textarea[name='address']").val() },
				success: function(data) {
					console.log(data)
				}
			});
		});
	});
</script>
