<%= render 'home/furniture_cover', furniture: @furniture, height: "350px", show_samples: false, admin_adjusts: false %>

<div class="container">
	<%= path_to_here! "محصول: #{@furniture.name}" %>
	<legend>
		سفارش پیشرفته /
		<small><%= link_to "محصول #{@furniture.name}", home_furniture_path(@furniture) %></small>
		<small><%= link_to raw("<small><span class='fa fa-sliders'></span> تغییر به سفارش ساده</small>"), simple_order_order_path(0, f: @furniture.id, h: get_hash(@furniture.id)), class: "pull-left" %></small>
	</legend>

	<ul class="breadcrumb-steps" id="order-stage-steps">
	  <li>
	  	<a href="#step0">
	  		<em>تعداد و ست</em>
	  		<span>انتخاب تعداد و ست</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step1">
	  		<em>قدم اول: پارچه</em>
	  		<span>انتخاب طرح و رنگ</span>
  		</a>
		</li>
	  <li class="current">
	  	<a href="#step2">
	  		<em>قدم دوم: چوب</em>
	  		<span>انتخاب رنگ و نوع</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step3">
	  		<em>قدم سوم: کوسن</em>
	  		<span>تعداد کوسن‌ها</span>
  		</a>
		</li>
	  <li>
	  	<a href="#step-final">
	  		<em>قدم نهایی:</em>
	  		<span xstyle="padding-right: 50px;">بازبینی و تایید سفارش</span>
  		</a>
		</li>
	</ul>

	<div class="block" id="order-stages">
		<% Dir['app/views/order/orders/steps/*.html.erb'].each do |file| %>
			<%= render "order/orders/steps/" + File.basename(file, '.html.erb').sub(/^_/, '') %>
		<% end %>
		<div id="step-nav">
		<hr />
			<button class="btn btn-default pull-right hidden btn-prev">
				<span class="fa fa-arrow-right" style="margin-top: 3px"></span> مرحله‌ی قبل
			</button>
			<button class="btn btn-primary pull-left btn-next">
				مرحله‌ی بعد <span class="fa fa-arrow-left" style="margin-top: 3px"></span>
			</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#order-stages #step-nav .btn-next").click(function() {
			$("#order-stage-steps li.current").next().addClass('current').prev().removeClass('current');
			$("#order-stages #step-nav .btn-prev").removeClass('hidden');
			$(this).blur();
		});
		$("#order-stages #step-nav .btn-prev").click(function() {
			$("#order-stage-steps li.current").prev().addClass('current').next().removeClass('current');
			if($("#order-stage-steps li:first").hasClass('current')) $(this).addClass('hidden');
			$(this).blur();
		});
		$("#order-stages #step-nav button").click(function() {
			$("#order-stages > div:not(#step-nav)").addClass('hidden');
			$("#order-stages > div" + $("#order-stage-steps li.current a").attr('href'))
				.removeClass('hidden')
				.addClass('active')
				.trigger('activated');
		});
		// trigger the initial state
		$("#order-stages > div.step" + $("#order-stage-steps li.current a").attr('href'))
			.show()
			.trigger('activated')
				.siblings('.step')
					.addClass('hidden')
	});
</script>