<div id="step2">
	<legend><strong><span class="fa fa-check"></span> انتخاب طرح و رنگ پارچه</strong></legend>
	<div class="row">
		<div class="col-md-4 pull-right">
			<h3><strong>نکات:</strong></h3>
			<p class="text-justify"><span class="fa fa-tag"></span> شما در حال انتخاب پارچه‌ها برای قسمت‌های مختلف مبل هستید. در این قسمت طبق شما می‌توانید پارچه‌های مختلف را انتخاب کنید و در شبیه‌ساز (<span class="fa fa-hand-o-left"></span>) مشاهده نمایید.</p>
			<p class="text-justify"><span class="fa fa-tag"></span> شما هم اکنون در حال انتخاب پارچه <span class="label label-success" id="current-step">...</span> هستید!</p>
			<div>
						<%
							section_map = {
								"پشتی": "poshti",
								"زیری": "ziri",
								"دسته": "daste"
							}
						%>
						<% @furniture_sections.each do |s| %>
							<%= image_tag s.image[:image].thumb, style: "margin:0 auto;", class: "hidden img img-responsive", data: { "show-case": section_map[s.name.to_sym], sid: s.id } %>
							<% next %>
							<tr data-sid="<%= s.id %>" class="main-row">
								<td class="selected-fabric-details"><span class="fa hidden"></span> پارچه انتخابی</td>
								<td colspan="2"><%= s.comment %></td>
							</tr>
							<tr data-sid="<%= s.id %>">
								<td class="selected-fabric-details model-img" data-show-case="<%= section_map[s.name.to_sym] %>"><%= image_tag "qmark_128.png", class:"img img-responsive", width: 130 %></td>
								<td colspan="2"></td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-name">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-quality">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-price">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
						<% end %>
			</div>
		</div>
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 150px"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2"><strong>نمای کلی مبل (شبیه‌ساز)</strong></td>
					</tr>
					<tr class="text-center">
						<td colspan="2">
							<div style="height: 400px; width: 100%;" id="furniture-simulation"><span class="fa fa-spinner fa-spin"></span> در حال بارگذاری....</div>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid #ddd;">
						<td class="text-right" style="cursor: pointer" colspan="2">
							<button class="btn btn-link" id="furniture-simulation-fullscreen" style="font-size: 90%"><strong><span class="fa fa-arrows-alt"></span> بزرگ‌نمایی</strong></button>
							<button class="btn btn-link" id="furniture-simulation-reset" style="font-size: 90%"><strong><span class="fa fa-refresh"></span> بازنشانی صحنه</strong></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" >
			<div id="step2-2-options-header" style="border-right: 1px solid #aaa; padding-right: 20px;">
				<div class="row">
					<div class="col-md-3 col-sm-4 pull-right form-group step2-2-options">
						<label for="fabric-quality">کیفیت پارچه:</label>
						<%= select_tag "fabric-quality", options_from_collection_for_select(@fabric_quals, :id, :name), prompt: "انتخاب کنید.", class: 'selectpicker' %>
						<div style="margin-top: 10px" class='filtersx xhidden'>
							<%= check_awesome "نمایش طرح‌های موجود", checked: false, id: 'only-show-availables' %>
						</div>
					</div>
					<div class="col-md-9 col-sm-8 pull-right step2-2-options">
						<label>تیپ رنگی:</label><br />
						<small class="text-muted">طرح‌های مختلف را بر اساس دسته‌بندی رنگی آنها نمایش می‌دهد.</small><br />
						<% @colors_categories.each do |c| %>
							<div class="color-box shadow-box img-thumbnail" style="background-color: <%= c.value %>;" data-id="<%= c.id %>"></div>
						<% end %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<hr />
		</div>
		<div class="row">
			<!--div id="step2-1" class="col-md-12 col-sm-12 col-xs-12 pull-right" style="margin-top: 13px;">
				<table class="table text-right" id="selection-stages">
					<thead>
						<tr>
							<th style="width: 150px"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan='2'>
								<strong>پیشرفت:</strong>
								<ul class="list-unstyled inline" id="selection-progress">
									<% @furniture_sections.each do |sec| %>
										<li style="border: 0" data-sid="<%= sec.id %>" class="text-disabled active"><span class="fa fa-square-o"></span> <%= sec.comment %></li>
									<% end %>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div-->
			<div id="step2-2" class="col-md-12 col-sm-12 col-xs-12 xpull-right" style="min-height: 400px;">
				<div id="step2-2-content" class="photo-gallery-collection">
				</div>
				<div id="step2-2-helper" class="text-center">
					<span class='fa fa-hand-o-up'></span> لطفا یکی از «کیفیت‌های پارچه» یا «تیپ رنگی» را جهت ادامه انتخاب کنید.<br />
					<strong>توجه:</strong> که در قسمت آخر این بخش ‌میتواند نسخه‌ی شبیه‌سازی شده از مجموعه پارچه‌های انتخابی خود را مشاهده کنید.
				</div>
				<div id="step2-2-post-final-step" class="text-justify hidden">
					<legend><strong>تایید و ادامه</strong></legend>
					لطفا با توجه به نمایی کلی شبیه‌سازی شده در سمت راست (<span class="fa fa-hand-o-right"></span>)
					صفحه انتخاب‌های خود را بازبینی کنید و در صورت تایید به مرحله‌ی بعد بروید.<br />
					<strong>چند نکته:</strong>
					<ol>
						<li>در صورتی که هرکدام از قسمت‌های انتخاب شده مورد پسند‌تان واقع نشده است به راحتی می‌توانید با کلیک بر هرکدام از «عنوان» قسمت‌های مبل در قسمت راست صفحه به قسمت مورد نظر بروید و دوباره انتخاب کنید.</li>
						<li>شبیه‌سازی فقط نمای کلی از «یک مبل فرضی» را برای شما ارائه می‌دهد و شما باید فقط از بعد سلیقه‌ای و چینش طرح و رنگ پارچه‌ها آن‌را بررسی کنید. جزییات را کاشناسان ما موقع ساخت مبل در نظر خواهند گرفت و سعی خواهد شد که با توجه به انتخاب‌هایتان بهترین نمونه تولید شود.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div id="step2-navx" class="hidden">
		<hr />
		<button class="btn btn-default pull-right btn-prev">
			<span class="fa fa-arrow-right" style="margin-top: 3px"></span> قسمت قبل
		</button>
		<button class="btn btn-primary pull-left btn-next" disabled>
			قسمت بعد <span class="fa fa-arrow-left" style="margin-top: 3px"></span>
		</button>
		<div class="clearfix"></div>
	</div>

	<% # this should be here o.w it won't work backwarding from step2+ to step2 %>
	<%= render 'shared/photo_gallery' %>

	<div class="hidden" id="fabric-model-template">
		<div class="thumbnail hover-shadow">
			<!-- image_tag -->
	    <div class="caption" style='text-align: right'>
	    	<table class="table no-layout">
	    		<tbody>
	    			<tr>
	    				<td>نام مدل</td>
	    				<td class="model-name"></td>
	    			</tr>
	    			<tr>
	    				<td>کیفیت</td>
	    				<td class="model-quality"></td>
	    			</tr>
	    			<tr>
	    				<td>قیمت</td>
	    				<td class="model-price"></td>
	    			</tr>
	    			<tr>
	    				<td>وضعیت</td>
	    				<td class="model-status"><span class="labelx" style="font-weight: bold;"></span></td>
	    			</tr>
	    		</tbody>
	  		</table>
	      <div class='clearfix'></div>
	      <p style="position: relative; bottom: 0px" class="actions">
	      	<button class='info btn btn-primary pull-left select-fabric'>
	      		<span class="fa fa-crosshairs"></span>
	    			<span class="text">انتخاب طرح</span>
	      	</button>
	      	<div class='clearfix'></div>
	    	</p>
	    </div>
	  </div> <!-- /.thumbnail -->
  </div>
</div>

<%= render 'order/orders/shared/nav', no_js: true %>

<script type="text/javascript" charset="utf-8">
	<% # URLs used in `order/advance_step2.js` %>
	ls_fabrics_api_path = "<%= ls_fabrics_api_index_path %>"
	ls_fabric_models_api_path = "<%= ls_fabric_models_api_index_path %>"
	models = {
		"poshti": {
			file: "<%= asset_path("3d-models/furniture/poshti.obj") %>"
		},
		"ziri": {
			file: "<%= asset_path("3d-models/furniture/ziri.obj") %>"
		},
		"daste": {
			file: "<%= asset_path("3d-models/furniture/daste.obj") %>"
		},
	};
	// invokes after the models selected
	function after_graphics_loaded() {
		<% # if we have previous data? %>
		<% if @prev_data and @prev_data[:section_model] %>
			<% # foreach selected model %>
			<% @prev_data[:section_model].each do |stage_id, v| %>
				<% # fetch the proper element %>
				var stage = $("#selection-stages tr.main-row[data-sid='<%= v[:sec_id] %>']");
				<% # activate the stage %>
				active_stage(stage);
				<% # show the model for selected stage %>
				show_selected_model(<%= stage_id %>, <%= v[:model].id %>, "<%= v[:model].public_name %>", "<%= v[:model].fabric.price.to_s.to_money %>", "<%= v[:model].fabric.quality.name %>", "<%= v[:model].image[:image].thumb.url %>");
				<% # complete the model %>
				complete_stage(stage);
			<% end %>
			<% # finalize the adding selected models by %>
			<% # triggering the navigational btn click event %>
			$("#step-nav .btn").click();
		<% end %>
	}
</script>

<%= javascript_include_tag "order/advance_step2" %>
