<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order_order.user %>
</p>

<p>
  <strong>Admin furniture furniture:</strong>
  <%= @order_order.admin_furniture_furniture %>
</p>

<p>
  <strong>Admin furniture fabric fabric:</strong>
  <%= @order_order.admin_furniture_fabric_fabric %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @order_order.fabric %>
</p>

<p>
  <strong>Admin furniture paint color:</strong>
  <%= @order_order.admin_furniture_paint_color %>
</p>

<p>
  <strong>Admin furniture wood types:</strong>
  <%= @order_order.admin_furniture_wood_types %>
</p>

<%= link_to 'Edit', edit_order_order_path(@order_order) %> |
<%= link_to 'Back', order_orders_path %>
