<%= 
	render 'admin/shared/index',
	  title: 'لیست رنگ‌‌ها', 
		title_right: lambda {
			link_to new_admin_furniture_paint_color_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد رنگ جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'برند': { style: 'width: 10%' },
			'کیفیت': { style: 'width: 10%' },
			'نام رنگ': { style: 'width: 10%' },
			'رنگ': { style: 'width: 80px'},
			'توضیحات': { },
			'آخرین بروزرسانی': { style: 'width: 130px' },
			'عملیات': { style: 'width: 80px' }
		},
		table_body: lambda { 
%>	
  <% @admin_furniture_paint_colors.each do |fc| %>
    <tr>
      <td><%= fc.id %></td>
      <td>
	  		<a href="#" class='editable' data-type="select" data-resource="admin_furniture_paint_color" data-name="admin_furniture_paint_color_qualities_id" data-value="<%= fc.admin_furniture_paint_color_qualities_id %>" data-source="<%= admin_furniture_paint_color_qualities_path %>" data-url="<%= admin_furniture_paint_color_path(fc) %>" data-original-title="<%= fc.quality.name %>">
	        <%= fc.quality.name %>
	      </a>
    	</td>
      <td>
	  		<a href="#" class='editable' data-type="select" data-resource="admin_furniture_paint_color" data-name="admin_furniture_paint_color_brands_id" data-value="<%= fc.admin_furniture_paint_color_brands_id %>" data-source="<%= admin_furniture_paint_color_brands_path %>" data-url="<%= admin_furniture_paint_color_path(fc) %>" data-original-title="<%= fc.brand.name %>">
	        <%= fc.brand.name %>
	      </a>
    	</td>
      <td>
        <a href="#" class='editable' data-type="text" data-allow-empty data-resource="admin_furniture_paint_color" data-name="name" data-url="<%= admin_furniture_paint_color_path(fc) %>" data-original-title="<%= fc.name %>">
          <%= fc.name %>
        </a>
      </td>
      <td>
    		<div style='height: 50px; width: 50px; background-color: <%= fc.color_value %>; margin-bottom: 10px' class="color-presentor"></div>
      	<a href="#" class='editable en en-font hidden' data-type="text" data-placement="bottom" data-resource="admin_furniture_paint_color" data-name="color_value" data-url="<%= admin_furniture_paint_color_path(fc) %>" data-original-title="<%= fc.color_value %>">
      		<%= fc.color_value %>
      	</a>
      </td>
      <td>
        <a href="#" class='editable' data-type="textarea" data-allow-empty data-resource="admin_furniture_paint_color" data-placement="bottom" data-name="comment" data-url="<%= admin_furniture_paint_color_path(fc) %>" data-original-title="<%= fc.comment %>"><%= fc.comment %></a>
      </td>
    	<td class='datetime' data-date='<%= fc.updated_at %>'></td>
    	<td>
      	<%= link_to admin_furniture_paint_color_path(fc), method: :delete, class: 'text-danger', data: { confirm: { title: "آیا از حذف این رنگ اطمینان دارید؟", message: "توجه فرمایید که حذف رنگ غیر قابل بازگشت خواهد بود!" } } do %>
      		<span class='fa fa-trash'></span> حذف
      	<% end %>
    	</td>
    </tr>
  <% end %>
    
<% } %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		// update the background color if a color edited
		$('a.editable[data-name="color_value"]').bind("DOMSubtreeModified", function(){
			$(this).closest('td').find('.color-presentor').css('background-color', $(this).text());
		})
	});
</script>

<style type="text/css" media="screen">
	.editable[data-name="color_value"]:not(.editable-disabled) {
		display: unset!important;
	}
</style>
