<%= 
  render 'admin/shared/index',
    title: "لیست تعرفه‌های ترابری از کارگاه «<b>#{@workshop.name}</b>» به سایر استان‌ها",
    table_head: {
      'ردیف': { style: 'width: 30px' },
      'استان': { style: 'width: 130px' },
      'مبلغ (به تومان)': { }
    },
    table_body: lambda {
%>
	<% @trans.each do |t| %>
		<tr>
			<td><%= t.state_id %></td>
			<td><%= t.state.name %></td>
			<td><%= editable_tag t, :price, text: t.price.to_s.to_money %></td>
		</tr>
	<% end %>

<% }, after_table: lambda { %>
	
	<%= link_to admin_pricing_transits_path, class: 'btn btn-primary pull-left' do %>
	<span class="fa fa-check"></span> خاتمه
	<% end %>
	
<% } %>
