<div id='management-panel' style='margin-top: -25px'>
  <div class='row' style='padding:0;'>
    <div id='panel' class='col-lg-10 col-md-10 col-sm-9 col-xs-12 pull-left'>
      <iframe name='panel-frame' style='width: 100%; height: 100%;' frameborder='0' src="<%= dashboard_admin_home_index_path %>" onLoad="window.history.pushState('', '', '<%= request.path %>/#'+this.contentWindow.location.pathname);"></iframe>
    </div>
    <div id='navigation' class='col-lg-2 col-md-2 col-sm-3 hidden-xs pull-right'>
      <legend style="margin-bottom: 30px"><span class='fa fa-desktop'></span> پنل مدیریتی</legend>
      <div class="list-group">
        <a href="<%= dashboard_admin_home_index_path %>" class="list-group-item" target='panel-frame'>
          داشبورد
        </a>
      </div>

      <legend><span class='fa fa-shopping-bag'></span> مدیریت محصولات</legend>
      <div class="list-group">
        <a href="<%= admin_furniture_types_path %>" class="list-group-item" target='panel-frame'>
          دسته‌بندی‌ محصولات
        </a>
        <a href="<%= admin_furnitures_path %>" class="list-group-item" target='panel-frame'>
          محصولات
        </a>
      </div>
      <legend><span class='fa fa-industry'></span> مدیریت تولید</legend>
      <div class="panel-group" role="tablist" id="accordion-production-management">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab">
		        <h4 class="panel-title">
		        	<span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-production-management" href="#collapse_parche" aria-expanded="false" aria-controls="collapseThree">
				      	<span class='fa fa-th-large'></span> پارچه
			      	</span>
		        </h4>
			    </div>
			    <div id="collapse_parche" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="list-group">
			        <a href="<%= admin_fabric_sections_path %>" class="list-group-item" target='panel-frame'>
			        	انواع قسمت‌ها
			        </a>
			        <a href="#" class="list-group-item" target='panel-frame'>
			          انواع پارچه
			        </a>
			        <a href="#" class="list-group-item" target='panel-frame'>
			          برندها
			        </a>
			        <a href="#" class="list-group-item" target='panel-frame'>
			          طرح‌ها
			        </a>
			      </div>
		      </div>
		    </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab">
		        <h4 class="panel-title">
		        	<span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-production-management" href="#collapse_abr" aria-expanded="false" aria-controls="collapseThree">
				      	<span class='fa fa-th-large'></span> ابر
			      	</span>
		        </h4>
			    </div>
			    <div id="collapse_abr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="list-group">
			        <a href="#" class="list-group-item" target='panel-frame'>
			        	انواع قسمت‌ها
			        </a>
			        <a href="#" class="list-group-item" target='panel-frame'>
			          انواع ابر
			        </a>
			      </div>
		      </div>
		    </div>
		  </div>
      <legend><span class='fa fa-users'></span> مدیریت کاربران</legend>
      <div class="list-group">
        <a href="<%= admin_user_types_path %>" class="list-group-item" target='panel-frame'>
          انواع کاربران
        </a>
        <a href="<%= admin_users_path %>" class="list-group-item" target='panel-frame'>
          کاربران
        </a>
      </div>

    </div>
    <div class='clearfix'></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  $('#management-panel #navigation .list-group a[href!="#"]').click(function(){
	    $('#management-panel #navigation .list-group a.active').removeClass('active');
	    $(this).addClass('active');
	    if($(this).closest('.panel-collapse').length > 0)
	    	$(this).closest('.panel-collapse').addClass('in');
    	else
    		$('.panel-collapse.in').closest('.panel-group').find('[data-toggle="collapse"]').click()
	  });
	  // make bookmarkable hash
    if(window.location.hash) {
      url = window.location.hash.split('#')[1];
      // only allow by pass the urls that are defined in this section
      if(url.startsWith('/') && $('#management-panel #navigation .list-group a[href="'+url+'"]').length) {
        // assign the url
        $("iframe[name='panel-frame']").attr('src', url)
        // make the related link active
        $('#management-panel #navigation .list-group a[href="'+url+'"]').click();
      }
    }
    // if none is active? activate the first one
    if(!$('#management-panel #navigation .list-group a[href!="#"].active').length)
      $('#management-panel #navigation .list-group:first a[href!="#"]:first').addClass('active')
	})
</script>
