<%= remote_form admin_furniture_fabric_quality do |f| %>
	<%= params[:admin] ? f.hidden_field(:admin, value: params[:admin]): '' %>
	<div  class='block'>
	  <div class="field col-md-6 pull-right">
	    <%= f.text_field :name, :class => 'form-control', :autofocus => true, :required => true %>
	  </div>
	
	  <div class="field col-md-12 pull-right">
	    <%= f.text_area :comment, :class => 'form-control', :required => true %>
	  </div>
	  <div class='clearfix'></div>
  </div>
  
  <div class="actions field pull-left">
    <%= f.submit submit_text, :class => 'btn btn-primary' %>
  </div>
<% end %>
<div class='clearfix'></div>
