<%= 
	render 'admin/shared/index',
	  title: 'لیست کیفیت‌های پارچه', 
		title_right: lambda {
			link_to new_admin_furniture_fabric_quality_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد کیفیت جدید"
			end
		},
		before_table: lambda {
			raw "<small style='font-size: 16px;' class='text-muted pull-left'>#{page_entries_info @admin_furniture_fabric_qualities}</small>"
		},
		after_table: lambda {
			raw "<div class='text-center' style='vertical-align: middle'>#{will_paginate @admin_furniture_fabric_qualities, renderer: BootstrapPagination::Rails}</div>"
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'نام دسته‌بندی': { style: 'width: 12%' },
			'توضیحات': { },
			'آخرین بروزرسانی': { style: 'width: 130px' },
			'عملیات': { style: 'width: 90px' }
		},
		table_body: lambda {
%>
  <% @admin_furniture_fabric_qualities.each do |ft| %>
    <tr>
      <td><%= ft.id %></td>
      <td>
        <%= editable_tag ft, :name %>
      </td>
      <td>
        <%= editable_tag ft, :comment, type: :textarea, placement: :bottom, 'allow-empty': true %>
      </td>
      	<td class='datetime' data-date='<%= ft.updated_at %>'></td>
      <td>
        <% acu_as :admin do %>
        	<%= link_to ft, class: 'text-danger', method: :delete, data: { confirm: { title: "آیا از حذف این دسته‌بندی اطمینان دارید؟", message: "توجه فرمایید که حذف دسته‌بندی «<b>#{ft.name}</b>» غیر قابل بازگشت خواهد بود!" } } do %>
        		<span class='fa fa-trash'></span> حذف
        	<% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  
<% } %>