<p id="notice"><%= notice %></p>

<h1>Accountings</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Total payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountings.each do |accounting| %>
      <tr>
        <td><%= accounting.order %></td>
        <td><%= accounting.total_payment %></td>
        <td><%= link_to 'Show', accounting %></td>
        <td><%= link_to 'Edit', edit_accounting_path(accounting) %></td>
        <td><%= link_to 'Destroy', accounting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting', new_accounting_path %>
