<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @accounting.order %>
</p>

<p>
  <strong>Total payment:</strong>
  <%= @accounting.total_payment %>
</p>

<%= link_to 'Edit', edit_accounting_path(@accounting) %> |
<%= link_to 'Back', accountings_path %>
