<%= 
	render 'admin/shared/index',
	  title: 'لیست اجزای ساخت', 
		title_right: lambda {
			link_to new_admin_furniture_spec_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد جز جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'عنوان': { style: 'width: 12%' },
			'واحد': { style: 'width: 12%' },
			'توضیحات': { }
		},
		table_body: lambda {
%>
  <% @admin_furniture_specs.each do |admin_furniture_spec| %>
    <tr>
      <td><%= admin_furniture_spec.id %></td>
      <td><%= admin_furniture_spec.name %></td>
      <td>
        <a href="#" class='editable' data-type="text" data-resource="admin_furniture_spec" data-name="unit" data-url="<%= admin_furniture_spec_path(admin_furniture_spec) %>" data-original-title="<%= admin_furniture_spec.unit %>">
          <%= admin_furniture_spec.unit %>
        </a>
      </td>
      <td>
        <a href="#" class='editable' data-type="textarea" data-placement="bottom" data-resource="admin_furniture_spec" data-name="comment" data-url="<%= admin_furniture_spec_path(admin_furniture_spec) %>" data-original-title="<%= admin_furniture_spec.comment %>"><%= admin_furniture_spec.comment %></a>
      </td>
    </tr>
  <% end %>

<% } %>
