<p id="notice"><%= notice %></p>

<h1>Admin Furniture Specs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_furniture_specs.each do |admin_furniture_spec| %>
      <tr>
        <td><%= admin_furniture_spec.name %></td>
        <td><%= admin_furniture_spec.comment %></td>
        <td><%= link_to 'Show', admin_furniture_spec %></td>
        <td><%= link_to 'Edit', edit_admin_furniture_spec_path(admin_furniture_spec) %></td>
        <td><%= link_to 'Destroy', admin_furniture_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Furniture Spec', new_admin_furniture_spec_path %>
