<p id="notice"><%= notice %></p>

<h1>Admin Furniture Wood Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_furniture_wood_types.each do |admin_furniture_wood_type| %>
      <tr>
        <td><%= admin_furniture_wood_type.name %></td>
        <td><%= admin_furniture_wood_type.comment %></td>
        <td><%= link_to 'Show', admin_furniture_wood_type %></td>
        <td><%= link_to 'Edit', edit_admin_furniture_wood_type_path(admin_furniture_wood_type) %></td>
        <td><%= link_to 'Destroy', admin_furniture_wood_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Furniture Wood Type', new_admin_furniture_wood_type_path %>
