<%= form_for(avail_workshop) do |f| %>
  <% if avail_workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avail_workshop.errors.count, "error") %> prohibited this avail_workshop from being saved:</h2>

      <ul>
      <% avail_workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :furniture_id %>
    <%= f.text_field :furniture_id %>
  </div>

  <div class="field">
    <%= f.label :workshop_id %>
    <%= f.text_field :workshop_id %>
  </div>

  <div class="field">
    <%= f.label :proposed_cost %>
    <%= f.text_field :proposed_cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
