<p id="notice"><%= notice %></p>

<h1>Avail Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Furniture</th>
      <th>Workshop</th>
      <th>Proposed cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avail_workshops.each do |avail_workshop| %>
      <tr>
        <td><%= avail_workshop.furniture %></td>
        <td><%= avail_workshop.workshop %></td>
        <td><%= avail_workshop.proposed_cost %></td>
        <td><%= link_to 'Show', avail_workshop %></td>
        <td><%= link_to 'Edit', edit_avail_workshop_path(avail_workshop) %></td>
        <td><%= link_to 'Destroy', avail_workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avail Workshop', new_avail_workshop_path %>
