<p id="notice"><%= notice %></p>

<p>
  <strong>Furniture:</strong>
  <%= @avail_workshop.furniture %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @avail_workshop.workshop %>
</p>

<p>
  <strong>Proposed cost:</strong>
  <%= @avail_workshop.proposed_cost %>
</p>

<%= link_to 'Edit', edit_avail_workshop_path(@avail_workshop) %> |
<%= link_to 'Back', avail_workshops_path %>
