<p id="notice"><%= notice %></p>

<p>
  <strong>Admin furniture color qualities:</strong>
  <%= @admin_furniture_color.admin_furniture_color_qualities %>
</p>

<p>
  <strong>Admin furniture color brand:</strong>
  <%= @admin_furniture_color.admin_furniture_color_brand %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_color.comment %>
</p>

<p>
  <strong>Color value:</strong>
  <%= @admin_furniture_color.color_value %>
</p>

<p>
  <strong>Color details:</strong>
  <%= @admin_furniture_color.color_details %>
</p>

<%= link_to 'Edit', edit_admin_furniture_color_path(@admin_furniture_color) %> |
<%= link_to 'Back', admin_furniture_colors_path %>
