<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @kande_colour.details %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @kande_colour.cost %>
</p>

<%= link_to 'Edit', edit_kande_colour_path(@kande_colour) %> |
<%= link_to 'Back', kande_colours_path %>
