<%= 
	render 'admin/shared/index',
	  title: 'دسته‌بندی رنگ‌‌ها', 
		title_right: lambda {
			link_to "#", id: "calc-colors" do
				raw "<span class='fa fa-paint-brush'></span> محاسبه‌ی دسته‌بندی رنگ‌ها"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'نام رنگ': { style: 'width: 12%' },
			'رنگ': { style: 'width: 80px'},
			'توضیحات': { },
			'آخرین بروزرسانی': { style: 'width: 130px' },
			'عملیات': { style: 'width: 90px' }
		},
		table_body: lambda { 
%>	
  <% @admin_furniture_fabric_colours.each do |fc| %>
    <tr>
      <td><%= fc.id %></td>
      <td>
        <%= editable_tag fc, :name, 'allow-empty': true, text: fc.name.blank? ? "«بدون نام»" : fc.name %>
      </td>
      <td>
      	<div style='height: 50px; width: 50px; background-color: <%= fc.value %>'></div>
      </td>
      <td>
        <%= editable_tag fc, :comment, type: :textarea, 'allow-empty': true, placement: :bottom %>
      </td>
    	<td class='datetime' data-date='<%= fc.updated_at %>'></td>
    	<td>
      	<%= link_to fc, method: :delete, class: 'text-danger', data: { confirm: { title: "آیا از حذف این رنگ اطمینان دارید؟", message: "توجه فرمایید که حذف رنگ پارچه غیر قابل بازگشت خواهد بود!" } } do %>
      		<span class='fa fa-trash'></span> حذف
      	<% end %>
    	</td>
    </tr>
  <% end %>
  <% # leave this line blank, because the stupid `ruby` will render raw `@admin_furniture_fabric_colours.*.model` automatically %>
    
<% } %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('a#calc-colors').click(function(){
			// compute_admin_furniture_fabric_colors_path, remote: true, method: :post
			var cluster_color_box = function(value) {
				if($.isNumeric(value)) {
					$.ajax({
						type: 'POST',
						url: '<%= compute_admin_furniture_fabric_colors_path(format: :json) %>',
						data: { k: value },
						success: function(data) {
							bootbox.alert(data.message)
						}
					})
				} else {
					if(value !== null)
						bootbox.prompt('لطفا تعداد دسته‌بندی رنگ‌ها را وارد کنید:', function(value) { cluster_color_box(value); })
				}
			};
			bootbox.prompt('لطفا تعداد دسته‌بندی رنگ‌ها را وارد کنید:', function(value) { cluster_color_box(value); })
		})
	})
</script>