<p id="notice"><%= notice %></p>

<p>
  <strong>Astare avaliye:</strong>
  <%= @admin_pricing_paint_astar_rouye.astare_avaliye %>
</p>

<p>
  <strong>Astare asli:</strong>
  <%= @admin_pricing_paint_astar_rouye.astare_asli %>
</p>

<p>
  <strong>Rouye:</strong>
  <%= @admin_pricing_paint_astar_rouye.rouye %>
</p>

<p>
  <strong>Batune:</strong>
  <%= @admin_pricing_paint_astar_rouye.batune %>
</p>

<%= link_to 'Edit', edit_admin_pricing_paint_astar_rouye_path(@admin_pricing_paint_astar_rouye) %> |
<%= link_to 'Back', admin_pricing_paint_astar_rouyes_path %>
