<div id="step1">
	<legend>انتخاب طرح و رنگ پارچه</legend>
	<p style="border-right: 5px solid #0088cc; padding: 10px;">
		در این قسمت طرح و رنگ پارچه را برای قسمت‌های عمده‌ی مبل مشخص خواهید نمود.
	</p>
	<br />
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" >
			<div id="step1-2-options-header" style="border-right: 1px solid #aaa; padding-right: 20px;">
				<div class="row">
					<div class="col-md-3 col-sm-4 pull-right form-group step1-2-options">
						<label for="fabric-quality">کیفیت پارچه:</label>
						<%= select_tag "fabric-quality", options_from_collection_for_select(@fabric_quals, :id, :name), prompt: "انتخاب کنید." %>
						<div style="margin-top: 10px" class='filtersx xhidden'>
							<%= check_awesome "نمایش طرح‌های موجود", checked: false, id: 'only-show-availables' %>
						</div>
					</div>
					<div class="col-md-9 col-sm-8 pull-right step1-2-options">
						<label>تیپ رنگی:</label><br />
						<small class="text-muted">طرح‌های مختلف را بر اساس دسته‌بندی رنگی آنها نمایش می‌دهد.</small><br />
						<% @colors_categories.each do |c| %>
							<div class="color-box shadow-box img-thumbnail" style="background-color: <%= c.value %>;" data-id="<%= c.id %>"></div>
						<% end %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<hr />
		</div>
		<div class="row">
			<div id="step1-1" class="col-md-4 col-sm-4 col-xs-5 pull-right" style="margin-top: 13px;">
				<table class="table text-right" id="selection-stages">
					<thead>
						<tr>
							<td class="col-md-5 col-sm-5"></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2"><strong>نمای کلی مبل</strong></td>
						</tr>
						<tr class="text-center">
							<td colspan="2">
								<div style="height: 200px; width: 100%;" id="furniture-simulation"><span class="fa fa-spinner fa-spin"></span> در حال بارگذاری....</div>
							</td>
						</tr>
						<tr style="border-bottom: 1px solid #ddd;">
							<td class="text-right" style="cursor: pointer" colspan="2">
								<button class="btn btn-link" id="furniture-simulation-fullscreen" style="font-size: 90%"><strong><span class="fa fa-arrows-alt"></span> بزرگ‌نمایی</strong></button>
								<button class="btn btn-link" id="furniture-simulation-reset" style="font-size: 90%"><strong><span class="fa fa-refresh"></span> بازنشانی صحنه</strong></button>
							</td>
						</tr>
						<%
							section_map = {
								"پشتی": "poshti",
								"زیری": "ziri",
								"دسته": "daste"
							}
						%>
						<% @furniture_sections.each do |s| %>
							<tr data-sid="<%= s.id %>" class="main-row">
								<td class="selected-fabric-details"><span class="fa hidden"></span> پارچه انتخابی</td>
								<td colspan="2"><%= s.comment %></td>
							</tr>
							<tr data-sid="<%= s.id %>">
								<td class="selected-fabric-details model-img" data-show-case="<%= section_map[s.name.to_sym] %>"><%= image_tag "qmark_128.png", class:"img img-responsive" %></td>
								<td colspan="2"><%= image_tag s.image[:image].thumb, class: "img img-responsive" %></td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-name">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-quality">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
							<tr data-sid="<%= s.id %>" class="selected-fabric-details hidden model-price">
								<td></td>
								<td style="border-top: 0">&nbsp;</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div id="step1-2" class="col-md-8 col-sm-8 col-xs-7 pull-right">
				<div id="step1-2-content" class="photo-gallery-collection">
				</div>
				<div id="step1-2-helper" class="text-center">
					<span class='fa fa-hand-o-up'></span> لطفا یکی از «کیفیت‌های پارچه» یا «تیپ رنگی» را جهت ادامه انتخاب کنید.<br />
					<strong>توجه:</strong> که در قسمت آخر این بخش ‌میتواند نسخه‌ی شبیه‌سازی شده از مجموعه پارچه‌های انتخابی خود را مشاهده کنید.
				</div>
				<div id="step1-2-post-final-step" class="text-justify hidden">
					<legend><strong>تایید و ادامه</strong></legend>
					لطفا با توجه به نمایی کلی شبیه‌سازی شده در سمت راست (<span class="fa fa-hand-o-right"></span>)
					صفحه انتخاب‌های خود را بازبینی کنید و در صورت تایید به مرحله‌ی بعد بروید.<br />
					<strong>چند نکته:</strong>
					<ol>
						<li>در صورتی که هرکدام از قسمت‌های انتخاب شده مورد پسند‌تان واقع نشده است به راحتی می‌توانید با کلیک بر هرکدام از «عنوان» قسمت‌های مبل در قسمت راست صفحه به قسمت مورد نظر بروید و دوباره انتخاب کنید.</li>
						<li>شبیه‌سازی فقط نمای کلی از «یک مبل فرضی» را برای شما ارائه می‌دهد و شما باید فقط از بعد سلیقه‌ای و چینش طرح و رنگ پارچه‌ها آن‌را بررسی کنید. جزییات را کاشناسان ما موقع ساخت مبل در نظر خواهند گرفت و سعی خواهد شد که با توجه به انتخاب‌هایتان بهترین نمونه تولید شود.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div id="step1-nav">
		<hr />
		<button class="btn btn-default pull-right hidden btn-prev">
			<span class="fa fa-arrow-right" style="margin-top: 3px"></span> قسمت قبل
		</button>
		<button class="btn btn-primary pull-left btn-next" disabled>
			قسمت بعد <span class="fa fa-arrow-left" style="margin-top: 3px"></span>
		</button>
		<div class="clearfix"></div>
	</div>

	<% # this should be here o.w it won't work backwarding from step2+ to step1 %>
	<%= render 'shared/photo_gallery' %>

	<div class="hidden" id="fabric-model-template">
		<div class="thumbnail hover-shadow">
			<!-- image_tag -->
	    <div class="caption" style='text-align: right'>
	    	<table class="table no-layout">
	    		<tbody>
	    			<tr>
	    				<td>نام مدل</td>
	    				<td class="model-name"></td>
	    			</tr>
	    			<tr>
	    				<td>کیفیت</td>
	    				<td class="model-quality"></td>
	    			</tr>
	    			<tr>
	    				<td>قیمت</td>
	    				<td class="model-price"></td>
	    			</tr>
	    			<tr>
	    				<td>وضعیت</td>
	    				<td class="model-status"><span class="label"></span></td>
	    			</tr>
	    		</tbody>
	  		</table>
	      <div class='clearfix'></div>
	      <p style="position: relative; bottom: 0px" class="actions">
	      	<button class='info btn btn-primary pull-left select-fabric'>
	      		<span class="fa fa-crosshairs"></span>
	    			<span class="text">انتخاب طرح</span>
	      	</button>
	      	<div class='clearfix'></div>
	    	</p>
	    </div>
	  </div> <!-- /.thumbnail -->
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var scroll_to = function(item) {
	    $("body").stop().animate({ scrollTop: $(item).offset().top - 70 }, 500);
			return $(item);
		};

		var active_stage = function($stage) {
			if($("#step1-2-content").html().length === 0)
				$("#step1-2-helper").removeClass('hidden');
			$("#step1 #selection-stages tr.main-row.active").removeClass('active')
			$stage
				.addClass('active')
				.unbind('click.reactivate')
				.find('.fa')
					.attr('class', 'fa fa-chevron-left')
			$("#step1 #selection-stages [data-sid='" + $stage.attr('data-sid') + "']")
				.removeClass('completed')
				.unbind('mouseenter mouseleave')
			$("#step1 #selection-stages").data('stage', $("#step1 #selection-stages tr.main-row").index($stage));
		}
		var complete_stage = function($stage) {
			$stage
				.removeClass('reactivated')
				.addClass('completed')
				.bind('click.reactivate', function() {
					$("#step1 #selection-stages tr.main-row.reactivated").each(function() {
						complete_stage($(this));
					})
					$("#step1 #step1-2-post-final-step").addClass('hidden')
					$("#step1 #selection-stages tr.main-row .fa-chevron-left").removeClass('fa-chevron-left')
					$(this).addClass('reactivated')
					active_stage($(this));
					$("#step1 #step1-nav").removeClass('hidden')
					$("#order-stages #step-nav").addClass('hidden')
					if($(this).attr('data-selected'))
						$("#step1 #step1-nav .btn-next").removeAttr('disabled');
					if($("#step1 #selection-stages").data('stage') <= 0)
						$("#step1 #step1-nav .btn-prev").addClass('hidden');
				})
				.find('.fa')
					.attr('class', 'fa fa-check')
			$("#step1 #selection-stages [data-sid='" + $stage.attr('data-sid') + "']")
				.addClass('completed')
				.removeClass('active hovered')
				.hover(function() {
					$("#step1 #selection-stages [data-sid='" + $(this).attr('data-sid') + "'].completed").addClass('hovered')
				}, function() {
					$("#step1 #selection-stages [data-sid='" + $(this).attr('data-sid') + "'].completed").removeClass('hovered')
				})
		}
		$("#furniture-simulation-reset").click(function() {
			$(this).blur();
			reset_camera(graphic);
		});
		$("#furniture-simulation-fullscreen").click(function() {
			$(this).blur();
			if(!THREEx.FullScreen.available()) {
				bootbox.alert('مرورگر شما امکان بزرگ‌نمایی ندارد، لطفا مرورگر‌ خود را بروز رسانی کنید یا از مرورگر‌های مدرن استفاده کنید.')
				$(this).attr('disabled', 'disabled')
				return;
			}
			// store the default renderer size
			if(typeof graphic.renderer.domElement.default_size === "undefined")
				graphic.renderer.domElement.default_size = [graphic.renderer.domElement.style.width, graphic.renderer.domElement.style.height].map(function(item) { return item.replace("px", "") });
			// request the fullscreen
			THREEx.FullScreen.request(graphic.renderer.domElement);
			// set the render to fullsize
			graphic.renderer.setSize(window.screen.width, window.screen.height);
			// list the fullscreen event listening events
			var fullscreen_events = [
				'webkitfullscreenchange',
				'mozfullscreenchange',
				'fullscreenchange',
				'MSFullscreenChange'
			]
			// foreach event
			fullscreen_events.forEach(function(trigger) {
				// event function
				var fs_event = function() {
					// if fullscreen exiting?
			    if (!(document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement)) {
			    	// remove the event function
			  		document.removeEventListener(trigger, fs_event, true);
			  		var wh = graphic.renderer.domElement.default_size;
			  		// reset the renderer size to its default
	  		  	graphic.renderer.setSize(wh[0], wh[1]);
			    }
				};
				// bind the event
		    document.addEventListener(trigger, fs_event, false);
			});
		});
		$("#step1").bind('activated', function() {
			$("#order-stages #step-nav").addClass('hidden')
			$("#step1 #step1-nav").removeClass('hidden')
			if($("#step1 #selection-stages tr.main-row:last").hasClass('completed'))
				$("#step1 #step1-2-post-final-step").removeClass('hidden')
			else
				$("#step1 #step1-2-post-final-step").addClass('hidden')
			if(typeof $("#step1 #selection-stages").data('stage') === "undefined")
				$("#step1 #selection-stages").data('stage', 0)
			active_stage($($("#step1 #selection-stages tr.main-row").get($("#step1 #selection-stages").data('stage'))));
		})
		$("#step1 #step1-nav .btn-next").click(function() {
			var stages = $("#step1 #selection-stages tr.main-row")
			var stage_id = $("#step1 #selection-stages").data('stage')
			// complete the current stage
			complete_stage($(stages[stage_id]));
			// check if reached to the final stage
			if(stages.length === stage_id + 1) return;
			// activate the next stage
			active_stage($(stages[stage_id + 1]))
		});
		$("#step1 #step1-nav .btn-prev").click(function() {
			var stages = $("#step1 #selection-stages tr.main-row")
			var stage_id = $("#step1 #selection-stages").data('stage')
			// check if reached to the initial stage
			if(stage_id <= 0) return;
			// activate the previous stage
			active_stage($(stages[stage_id - 1]))
		});
		$("#step1 #step1-nav .btn").click(function(){
			scroll_to($("#step1"))
			var stages = $("#step1 #selection-stages tr.main-row")
			var stage_id = $("#step1 #selection-stages").data('stage')
			if($(stages[stage_id]).attr('data-selected'))
				$("#step1 #step1-nav .btn-next").removeAttr('disabled');
			else
				$("#step1 #step1-nav .btn-next").attr('disabled', 'disabled');

			if(stage_id <= 0)
				$("#step1 #step1-nav .btn-prev").addClass('hidden');
			else
				$("#step1 #step1-nav .btn-prev").removeClass('hidden');

			// check if reached to the final stage
			if($("#step1 #selection-stages tr.main-row:last").hasClass('completed')) {
				reset_everything();
				$("#step1-2-helper").addClass('hidden');
				$("#step1 #step1-nav").addClass('hidden')
				$("#step1 #step1-2-post-final-step").removeClass('hidden')
				$("#order-stages #step-nav").removeClass('hidden')
					return;
			}

			$("#step1 #step1-2-post-final-step").addClass('hidden')
			$('.fab-container .select-fabric.selected').each(function(){
				$(this)
					.html($(this).attr('data-origin-text'))
					.removeClass('selected')
					.closest('.thumbnail')
						.css('box-shadow', 'unset');
			})
			$(this).blur()
		});
		$('#step1-1 li').click(function() {
			$(this).closest('ul').find('.active').removeClass('active');
			$(this).addClass('active');
			$('#step1-2-helper').removeClass('hidden');
			$('#step1-2').removeClass('hidden');
			$('#step1 #fabric-quality').prop('selectedIndex', 0);
		  $("#step1-2-content").html("");
		})
		var filter_availables = function() {
			if($("#only-show-availables").prop('checked')) {
				$('#step1-2-content .not-available').hide();
				// exculde it from photo-gallery
				$('#step1-2-content .not-available [data-type="photo-gallery"]')
					.removeAttr('data-type')
					.attr('xdata-type', 'photo-gallery')
			}
			else {
				$('#step1-2-content .not-available').show();
				// include it from photo-gallery
				$('#step1-2-content .not-available [xdata-type="photo-gallery"]')
					.removeAttr('xdata-type')
					.attr('data-type', 'photo-gallery')
			}
		};
		var reset_everything = function() {
			$("#step1-2-content").html("")
			$("#step1-2-helper").removeClass('hidden')
			$(".color-box.active").removeClass('active')
			$('#step1 #fabric-quality').prop('selectedIndex',0)
		};
		var after_models_loaded = function() {
			$('.fab-container .select-fabric').click(function(){
				$(this).blur();
				var model = $(this).closest('.model[model-id]')
				var model_id = model.attr('model-id')
				var stages = $("#step1 #selection-stages tr.main-row")
				var stage_id = $("#step1 #selection-stages").data('stage')
				var sid = $(stages[stage_id]).attr('data-sid')
				var find_piece = function(sid, flag) { return $('[data-sid="'+sid.toString()+'"].selected-fabric-details' + flag) }
				$('.fab-container .select-fabric.selected').each(function() {
					$(this)
						.html($(this).attr('data-origin-text'))
						.removeClass('selected')
						.closest('.thumbnail')
							.css('box-shadow', 'unset');
				});
				$(this)
					.attr('data-origin-text', $(this).html())
					.html('<span class="fa fa-check"></span> انتخاب شد!')
					.addClass('selected')
					.closest('.thumbnail')
						.css('box-shadow', '0 0 10px green')
				find_piece(sid, '.model-name td:first').html('<strong>نام:</strong> ' + model.find('.model-name').text())
				find_piece(sid, '.model-price td:first').html('<strong>قیمت:</strong> ' + model.find('.model-price').text())
				find_piece(sid, '.model-quality td:first').html('<strong>کیفیت:</strong> ' + model.find('.model-quality').text())
				$('[data-sid="'+sid.toString()+'"] .selected-fabric-details.model-img').html('<img src="' + model.find('.img').attr('src') + '" class="img img-responsive"/>')
				// show the items
				find_piece(sid, '.hidden').removeClass('hidden');
				$('[data-sid="'+sid.toString()+'"] .selected-fabric-details.hidden').removeClass('hidden');
				$('#step1-nav .btn-next[disabled]').removeAttr('disabled');
				$(stages[stage_id]).attr('data-selected', 1)
				// set the selected texture to the view
				var texture   =  model.find('.img').attr('src');
				var show_case = $('[data-sid="'+sid.toString()+'"] .selected-fabric-details.model-img').attr('data-show-case');
				texture_select(show_case, texture);
				if(show_case === "ziri")
					texture_select("frame", texture);
			});
		};
		var load_fabrics = function(url, data) {
			// clear the content
		  $("#step1-2-content").html("");
			$('#step1-2-helper').addClass('hidden')
			$("#step1-2-content").html("<div class='text-center'><span class='fa fa-spinner fa-spin'></span></div>");
			$.ajax({
				url: url,
				data: data,
				method: 'post',
				success: function(data) {

					// clear the content
				  $("#step1-2-content").html("");
					if(data.length === 0) {
						$("#step1-2-content").html("<div class='text-center'><span class='fa fa-exclamation-triangle'></span> هیچ پارچه‌ای با این کیفیت در سیستم ثبت نشده است.</div>");
						return;
					}
					$('.step1-2-options .filters').removeClass('hidden')
					for(var i = 0, c = 0, j = data.length; i < j; i ++) {
						 var fabric = data[i];
						 $("#step1-2-content").append("<legend>" + fabric.brand.name + "</legend>");
						 var models = fabric.models

						 $("#step1-2-content").append("<div class='row'>");
			 			 if(!fabric.brand.available) {
			 				 $("#step1-2-content legend").last().addClass('not-available');
			 				 $("#step1-2-content .row").last().addClass('not-available');
			 			 }

						 for(var l = 0, k = models.length; l < k; l++, c++) {
						 		$("#step1-2-content .row").last().append("<div class='col-md-4 col-sm-6 col-xs-6 text-center fab-container'></div>");
						 		var $wrapper = $("#step1-2-content .row .fab-container").last();
						 		$wrapper.append($('#step1 #fabric-model-template').clone().removeAttr('id class'));
						 		$wrapper_box = $wrapper.find('.thumbnail');

								$wrapper_box.addClass('model').attr('model-id', models[l].id);

						 		$wrapper_box.prepend("<a href='" + models[l].origin + "' data-type='photo-gallery' data-index='" + c.toString() + "' data-thumb='" + models[l].thumb + "'>\
						 			<img src='" + models[l].thumb + "' data-origin-src='" + models[l].origin + "' class='img img-responsive img-thumbnail' />\
					 			");
						 		$wrapper_box
						 			.find('.model-name').html("M-" + models[l].id);
						 		$wrapper_box
						 			.find('.model-quality').html(fabric.quality.name);
						 		$wrapper_box
						 			.find('.model-price').html(fabric.price + " تومان");
						 		$wrapper_box.find('.model-status span.label')
						 			.html(fabric.brand.available ? 'موجود' : 'ناموجود')
						 			.addClass(fabric.brand.available ? 'label-success' : 'label-danger');
					 			if(!fabric.brand.available) {
					 				$wrapper_box.find('.actions').remove();
					 				$wrapper.addClass('not-available');
				 				}
						 };
					};
					filter_availables();
					after_models_loaded();
					execute_photo_gallery();
					// highlight and scroll-to the viewing image
					$("[data-type='photo-gallery']").click(function(){
						$('.fab-container.active').removeClass('active');
						scroll_to($(this).closest('.fab-container')).addClass('active');
						setTimeout(function(){
							gallery.listen('afterChange', function() {
								$('.fab-container.active').removeClass('active');
								scroll_to($(gallery.items[gallery.getCurrentIndex()].item).closest('.fab-container')).addClass('active');
							});
						}, 500);
					})
				}
			});
		};
		$("#only-show-availables").click(filter_availables);
		$('#step1 #fabric-quality').change(function() {
			load_fabrics('<%= ls_fabrics_api_index_path %>', {q: $(this).find(':selected').val()})
			$('#step1 .color-box.active').removeClass('active');
		});
		$('#step1 .color-box[data-id]').click(function() {
			$('#step1 .color-box.active').removeClass('active');
			$(this).addClass('active')
			load_fabrics('<%= ls_fabric_models_api_index_path %>', {cc: $(this).data('id')})
		});
	});
</script>

<%
%w[
	three.min
	OBJLoader
	TrackballControls
	webgl_detector
	init_scene
	load_objects
	THREEx.FullScreen
].each do |jsfile| %>
	<%= javascript_include_tag "three.js/#{jsfile}.js" %>
<% end %>

<script type="text/javascript" charset="utf-8">
	// try to load the models first
	load_objects(
		{
			"poshti": {
				file: "<%= asset_path("3d-models/furniture/poshti.obj") %>"
			},
			"ziri": {
				file: "<%= asset_path("3d-models/furniture/ziri.obj") %>"
			},
			"frame": {
				file: "<%= asset_path("3d-models/furniture/frame.obj") %>"
			},
			"daste": {
				file: "<%= asset_path("3d-models/furniture/daste.obj") %>"
			},
		},
		display
	);
	function reset_camera(graphic) {
		graphic.controls.reset();
		graphic.camera.position.set(3, 4, 10)
	}
	function display(loaded_models){
		if(typeof loaded_models === "undefined") {
			alert("Models has not been loaded yet....\nTry Later!")
			return
		}
		$('#step1 #furniture-simulation').html("").closest('tr').addClass('shadow-box nohover-effect');
    graphic = init_scene(document.getElementById('furniture-simulation'))
		reset_camera(graphic)
		objects = loaded_models
		for (var key in loaded_models) graphic.scene.add(loaded_models[key]);
	  var animate = function() {
	    requestAnimationFrame( animate );
	    graphic.controls.update();
	    graphic.renderer.render( graphic.scene, graphic.camera );
	  };
	  animate();
	}
	function texture_select(position, src) {
		set_texture(objects[position], load_texture(src))
	}
</script>
