<div class='col-md-12 col-lg-10 col-lg-offset-1'>
  <legend>
    <h1 class='pull-right'>دسته‌بندی رنگ‌‌ها</h1>
    <small class='pull-left' style='font-size: 16px; margin-top: 40px;'>
      <%= link_to "#", id: "calc-colors" do %>
        <span class='fa fa-paint-brush'></span>
        محاسبه‌ی دسته‌بندی رنگ‌ها
      <% end %>
    </small>
    <div class='clearfix'></div>
  </legend>
	<%= acu_as :admin { render 'shared/editable_content' }%>
	<table class='table <%= @admin_fabric_colours.empty? ? "" : "table-striped table-hover" %>'>
	  <thead>
	    <tr>
	      <th style='width: 30px'>ردیف</th>
	      <th style='width: 12%;'>نام رنگ</th>
	      <th style='width: 80px;'>رنگ</th>
	      <th>توضیحات</th>
	      <th style='width: 130px'>آخرین بروزرسانی</th>
	      <th style='width: 80px'>عملیات</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @admin_fabric_colours.each do |fc| %>
	      <tr>
	        <td><%= fc.id %></td>
	        <td>
	          <a href="#" class='editable' data-type="text" data-allow-empty data-resource="admin_fabric_color" data-name="name" data-url="<%= admin_fabric_color_path(fc) %>" data-original-title="<%= fc.name.blank? ? "«بدون نام»" : fc.name %>">
	            <%= fc.name.blank? ? "«بدون نام»" : fc.name %>
	          </a>
	        </td>
	        <td>
	        	<div style='height: 50px; width: 50px; background-color: <%= fc.value %>'></div>
	        </td>
	        <td>
	          <a href="#" class='editable' data-type="textarea" data-allow-empty data-resource="admin_fabric_color" data-placement="bottom" data-name="comment" data-url="<%= admin_fabric_color_path(fc) %>" data-original-title="<%= fc.comment %>"><%= fc.comment %></a>
          </td>
        	<td class='datetime' data-date='<%= fc.updated_at %>'></td>
        	<td>
          	<%= link_to admin_fabric_color_path(fc), method: :delete, class: 'text-danger', data: { confirm: { title: "آیا از حذف این رنگ اطمینان دارید؟", message: "توجه فرمایید که حذف رنگ پارچه غیر قابل بازگشت خواهد بود!" } } do %>
          		<span class='fa fa-trash'></span> حذف
          	<% end %>
        	</td>
	      </tr>
	    <% end %>
	    <% if @admin_fabric_colours.empty? %>
	      <tr>
	        <td colspan="8"><div class="empty-collection">
	        	جهت مشاهده‌ی دسته‌بندی رنگ‌ها ابتدا باید عملیات <b><span class="fa fa-paint-brush"></span> محاسبه‌ی دسته‌بندی رنگ‌ها</b> را اجرا کنید!</div></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('.editable').editable({ validate: undefined }).editable();
		$('a#calc-colors').click(function(){
			// compute_admin_fabric_colors_path, remote: true, method: :post
			var cluster_color_box = function(value) {
				if($.isNumeric(value)) {
					$.ajax({
						type: 'POST',
						url: '<%= compute_admin_fabric_colors_path(format: :json) %>',
						data: { k: value },
						success: function(data) {
							bootbox.alert(data.message)
						}
					})
				} else {
					if(value !== null)
						bootbox.prompt('لطفا تعداد دسته‌بندی رنگ‌ها را وارد کنید:', function(value) { cluster_color_box(value); })
				}
			};
			bootbox.prompt('لطفا تعداد دسته‌بندی رنگ‌ها را وارد کنید:', function(value) { cluster_color_box(value); })
		})
	})
</script>