<%= form_for(furnitaure) do |f| %>
  <% if furnitaure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(furnitaure.errors.count, "error") %> prohibited this furnitaure from being saved:</h2>

      <ul>
      <% furnitaure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :furnitaure_detail_id %>
    <%= f.text_field :furnitaure_detail_id %>
  </div>

  <div class="field">
    <%= f.label :furnitaure_wage_id %>
    <%= f.text_field :furnitaure_wage_id %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
