<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @furnitaure.name %>
</p>

<p>
  <strong>Furnitaure detail:</strong>
  <%= @furnitaure.furnitaure_detail %>
</p>

<p>
  <strong>Furnitaure wage:</strong>
  <%= @furnitaure.furnitaure_wage %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @furnitaure.comment %>
</p>

<%= link_to 'Edit', edit_furnitaure_path(@furnitaure) %> |
<%= link_to 'Back', furnitaures_path %>
