<%= 
	render 'admin/shared/index',
	  title: 'لیست انواع چوب', 
		title_right: lambda {
			link_to new_admin_furniture_wood_type_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد نوع جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'عنوان': { style: 'width: 12%' },
			'توضیحات': { },
			'عملیات': { style: 'width: 80px' }
		},
		table_body: lambda {
%>
  <% @admin_furniture_wood_types.each do |wt| %>
    <tr>
      <td><%= wt.id %></td>
      <td>
        <%= editable_tag wt, :name %>
      </td>
      <td>
        <%= editable_tag wt, :comment, type: :textarea, placement: :bottom, 'allow-empty': true %>
      </td>
      <td>
        <%= link_to wt, method: :delete, data: { confirm: 'آیا از انجام این عمل مطمئن هستید؟' }, class: 'text-danger' do %>
          <span class='fa fa-trash'></span> حذف
        <% end %>
      </td>
    </tr>
  <% end %>

<% } %>