<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_foam_type.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @admin_furniture_foam_type.value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_foam_type.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_foam_type_path(@admin_furniture_foam_type) %> |
<%= link_to 'Back', admin_furniture_foam_types_path %>
