<small style='font-size: 16px;' class='text-disabled pull-left'><%= render_filterrific_spinner %> <%= page_entries_info @users %></small>
<table class='table <%= @users.empty? ? "" : "table-striped table-hover" %>'>
  <thead>
    <tr>
      <th style='width: 30px'>ردیف</th>
      <th style='width: 12%;'>نام و نام‌خانوادگی</th>
      <th style='width: 120px;'>شماره تماس</th>
      <th>آدرس</th>
      <th style='width: 70px'>نوع کاربر</th>
      <th style='width: 7%;'>آخرین ورود</th>
      <th style='width: 15%;'>عملیات</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr <%= raw user.blocked_at ? "style='background-color: #f2dede!important' data-toggle='tooltip' title='کاربر مسدود شده است!'" : "" %>>
        <td><%= user.id %></td>
        <td><%= user.full_name %></td>
        <td><%= number_to_phone(user.phone_number) %></td>
        <td><%= user.profile ? user.profile.address : '«پروفایلی ساخته نشده است»' %></td>
        <td><%= user.user_type.name %></td>
        <td class='datetime' data-time='<%= user.current_sign_in_at %>'><%= user.current_sign_in_at %></td>
        <td>
          <% if not (user.id == 1 and current_user.id == user.id) %>
            <%= link_to block_admin_user_path(user), method: :delete  do %>
             <% if user.blocked_at %>
                <span class='fa fa-unlock'></span> باز کردن
             <% else %>
                <span class='fa fa-lock'></span> مسدود کردن
             <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @users.empty? %>
      <tr>
        <td colspan="7"><div class="empty-collection">عضوی پیدا نشد!</div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center" style='vertical-align: middle'>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>