<%= 
  render 'admin/shared/index',
    title: "لیست #{t("activerecord.models.#{User.model_name.i18n_key}")}", 
    title_right: lambda {
      link_to new_admin_user_path, class: 'inline-html-call' do
        raw "<span class='fa fa-plus'></span> ایجاد داده‌ی جدید"
      end
    },
    before_table: lambda {
%>

  <div class='block' style='padding: 20px'>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class='row'>
        <div class="col-md-3 pull-right">
          <label for="filterrific[search_query]"><span class='fa fa-filter'></span> جستجو</label>
          <%= f.search_field :search_query, class: 'filterrific-periodically-observed form-control' %>
        </div>
        <div class='col-md-3 pull-right'>
          <label for="filterrific[sorted_by]"><span class='fa fa-filter'></span> مرتب‌سازی</label>
          <%= f.select(:sorted_by, User.options_for_sorted_by, {}, { :class => 'form-control' }) %>
        </div>
        <div class='col-md-2 pull-right'>
          <label for="filterrific[get_by_user_types]"><span class='fa fa-filter'></span> نوع کاربری</label>
          <%= f.collection_select(:get_by_user_types, Admin::UserType.all, :id, :name, { :include_blank => 'همه' }, { :class => 'form-control' }) %>
        </div>
        <div class='col-md-2 pull-right'>
          <label for="filterrific[get_by_states]"><span class='fa fa-filter'></span> استان</label>
          <%= f.collection_select(:get_by_states, State.all, :id, :name, { :include_blank => 'همه' }, { :class => 'form-control' }) %>
        </div>
        <div class='col-md-2 pull-right'>
          <label for="filterrific[get_by_status]"><span class='fa fa-filter'></span> وضعیت‌ حساب‌کاربری</label>
          <%= f.select(:get_by_status, User.options_for_get_by_status, { :include_blank => 'همه' }, { :class => 'form-control' }) %>
        </div>
      </div>
      <div class='row' style='margin-top: 10px;'>
        <div class='col-md-3 pull-right'>
          <span class='fa fa-refresh'></span>
          <%= link_to reset_filterrific_url do %>
            حذف فیلتر‌ها
          <% end %>
        </div>
        <div class='clearfix'></div>
      </div>
    <% end %>
  </div>

<% } %>

<%= render 'admin/shared/list' %>