<div class='col-md-12 col-lg-10 col-lg-offset-1'>
  <legend>
    <h1 class='pull-right'>کاربران</h1>
    <small class='pull-left' style='font-size: 16px; margin-top: 40px;'>
      <%= link_to new_admin_user_path, class: 'inline-html-call' do %>
        <span class='fa fa-plus'></span>
        ایجاد کاربر جدید
      <% end %>
    </small>
    <div class='clearfix'></div>
  </legend>
  <div class='block' style='padding: 20px'>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class='row'>
        <div class="col-md-3 pull-right">
          <label for="filterrific[search_query]">جستجو</label>
          <%= f.search_field :search_query, class: 'filterrific-periodically-observed form-control' %>
        </div>
        <div class='col-md-3 pull-right'>
          <label for="filterrific[sorted_by]">مرتب‌سازی</label>
          <%= f.select(:sorted_by, User.options_for_sorted_by, {}, { :class => 'form-control' }) %>
        </div>
      </div>
      <div class='row' style='margin-top: 10px;'>
        <div class='col-md-3 pull-right'>
          <%= link_to 'حذف فیلتر‌ها', reset_filterrific_url %>
        </div>
        <div class='clearfix'></div>
      </div>
    <% end %>
  </div>

  <div id="filterrific_results">
    <%= render partial: 'list', locals: { users: @users } %>
  </div>
</div>