<% form_id = '' %>
<%= remote_form(admin_furniture_set) do |f| -%>
  <% form_id = f.options[:html][:id] %>
  <div  class='block'>
  	<div class="row">
      <div class="col-md-offset-6 col-md-6">
        <%= f.text_field :name, autofocus: true %>
      </div>
      
      <div class="col-md-12">
        <%= f.text_field :config, placeholder: "مثال: 3, 2, 1" %>
      </div>

      <div class="col-md-12">
        <%= f.text_area :comment %>
      </div>
      
	    <div class='clearfix'></div>
    </div>
  </div>

  <div class="actions field pull-left">
    <%= f.submit submit_text,  data: { disable_with: "درحال ثبت اطلاعات..." }, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
<% end %>