<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_scale.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_scale.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_scale_path(@admin_furniture_scale) %> |
<%= link_to 'Back', admin_furniture_scales_path %>
