<small style='font-size: 16px;' class='text-muted pull-left'><%= render_filterrific_spinner %> <%= page_entries_info @furnitures %></small>
<%= acu_as :admin { render 'admin/users/editable_content' }%>
<table class='table <%= @furnitures.empty? ? "" : "table-striped table-hover" %>'>
  <thead>
    <tr>
      <th style='width: 30px'>ردیف</th>
      <th style='width: 100px;'>دسته‌بندی</th>
      <th style='width: 120px;'>نام مدل</th>
      <th style='width: 100px;'>گالری</th>
      <th style=''>درباره‌ی مدل</th>
      <th style='width: 150px;'>آخرین بروزرسانی</th>
      <th style='width: 50px;'>عملیات</th>
    </tr>
  </thead>
  <tbody>
    <% @furnitures.each do |f| %>
      <%
      	next if f.deleted_at
        type_name = Admin::FurnitureType.with_deleted.find(f.furniture_type_id).name;
      %>
      <tr>
        <td><%= f.id %></td>
        <td>
          <a href="#" class='editable' data-type="select" data-resource="admin_furniture" data-name="furniture_type_id" data-value="<%= f.furniture_type_id %>" data-source="<%= admin_furniture_types_path(format: :json) %>" data-url="<%= admin_furniture_path(f) %>" data-original-title="<%= type_name %>">
            <%= type_name %>
          </a>
        </td>
        <td>
          <a href="#" class='editable' data-type="text" data-resource="admin_furniture" data-name="name" data-url="<%= admin_furniture_path(f) %>" data-original-title="<%= f.name %>">
            <%= f.name %>
          </a>
        </td>
        <td class='photo-gallary-collection-incomplete'>
        	<% i = f.images[f.cover_details["index"].to_i] %>
					<%= link_to image_url(i), data: { id: f.id, source: list_images_admin_furniture_path(f) } do %>
						<%= image_tag thumbnail_url(i), :class => 'cover-item img-responsive img-thumbnail', style: 'height: 40px; width: 70px' %>
					<% end %>
        </td>
        <td>
          <a href="#" class='editable' data-type="textarea" data-max-length='11' data-placement="bottom" data-resource="admin_furniture" data-name="comment" data-url="<%= admin_furniture_path(f) %>" data-original-title="درباره‌ی مدل:"><%= f.comment.empty? ? "«آدرسی ثبت نشده است.»" : f.comment %></a>
        </td>
        <td class='datetime' data-date='<%= f.updated_at %>'></td>
        <td>
          <% acu_as :admin do %>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class='fa fa-superpowers'></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
              	<li>
              		<%= link_to home_furniture_path(f), target: :_blank do %>
              			<span class='fa fa-eye'></span> مشاهده
              		<% end %>
              	</li>
              	<li class='divider'></li>
              	<li>
				          <%= link_to edit_admin_furniture_path(f, admin: :check), :class => 'inline-html-call' do %>
				            <span class='fa fa-pencil'></span> ویرایش
				          <% end %>
              	</li>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @furnitures.empty? %>
      <tr>
        <td colspan="8"><div class="empty-collection">عضوی پیدا نشد!</div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center" style='vertical-align: middle'>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<div id='photo-gallery-template' class='hidden'></div>

<script type="text/javascript" charset="utf-8">
	function update_cover_thumb(idx) {
		item = gallery.items[idx];
		$('.photo-gallary-collection-incomplete a[data-source].active')
			.attr('href', item.src)
			.find('img')
				.attr('src', item.msrc + "?" + (new Date()).getTime())
		$('.photo-gallary-collection-incomplete a[data-source].active')
			.removeClass('active')
	}
	$(document).ready(function(){
		String.prototype.format = function () {
      var args = [].slice.call(arguments);
      return this.replace(/(\{\d+\})/g, function (a){
          return args[+(a.substr(1,a.length-2))||0];
      });
		};
		$('.photo-gallary-collection-incomplete a[data-source]').click(function(e) {
			e.preventDefault();
			e.stopPropagation();
			$(this).addClass('active');
			$(this).find('*').hide();
			$(this).append('<span class="fa fa-spinner fa-spin"></span>');
			$this = $(this);
			$('#photo-gallery-template').html('').addClass('photo-gallery-collection');
			$.get({
				url: $(this).attr('data-source'),
				success: function(data) {
					for (var index = 0; index < data.images.length; index++) {
						link = 
						'<%= link_to "{0}", data: { type: 'photo-gallery', index: "{1}", thumb: "{2}", cover: "{3}", "cover-url": cover_admin_furniture_path("{4}", format: :json) } do %>\
							<%= image_tag "{2}", :class => "cover-item img-responsive img-thumbnail", style: "height: 40px; width: 70px" %>\
						<% end %>'
						.replace('%7B', '{').replace('%7D', '}')
						.replace('src="/images/{2}"', 'src="{2}"')
						.format(data.images[index].url, index, data.images[index].thumb.url, index == data.cover, $this.attr('data-id'))
						$('#photo-gallery-template').append(link);
					};
					init_photo_gallery();
					$('#photo-gallery-template [data-type="photo-gallery"]:nth-child('+(parseInt(data.cover)+1)+')').click();
				},
				complete: function() {
					$this.find('.fa-spinner').remove();
					$this.find('*').show()
				}
			})
		});
		$('.editable[data-type="textarea"]').editable({ tpl: '<textarea maxlength="140"></textarea>' });
	})
</script>

<%= render 'admin/furnitures/photo_gallary', collection: @furnitures %>
<%= render 'admin/furnitures/photo_gallary_cover', collection: @furniture, js_on_cover_set: "update_cover_thumb(idx)" %>
