<% if @furniture.has_unconfirmed_data %>
<div class="panel panel-primary">
  <div class="panel-heading">
  	<span class='fa fa-exclamation-triangle'></span> داده‌های تایید نشده!
  </div>
  <div class="panel-body">این محصول شامل داده‌های اطلاعاتی تایید نشده می‌باشد؛ تا زمانی که این اطلاعات تایید نشوند این محصول قابل سفارش از سمت مشتری نمی‌باشد.</div>
</div>
<% end %>
<% user_types = { } %>
<ul class="nav nav-tabs nav-rtl" id="furniture-info" role="tablist">
	<% @intel.keys.each.with_index do |k, index| %>
		<% user_types[k] = Admin::UserType.where(symbol: k.upcase).first %>
	  <li class="<%= index == 0 ? 'active' : '' %>" role="presentation">
	    <a aria-controls="<%= user_types[k].name %>" aria-expanded="false" data-toggle="tab" href="#<%= k.to_s %>-tab-content" id="<%= k.to_s %>-tab" role="tab"><%= user_types[k].name %></a>
	  </li>
  <% end %>
</ul>
<div class="tab-content" id="furniture-info-content">
	<% @intel.keys.each.with_index do |k, index| %>
	  <div aria-labelledby="<%= k.to_s %>-tab" class="tab-pane fade <%= index == 0 ? 'active in' : '' %>" id="<%= k.to_s %>-tab-content" role="tabpanel">
			<%= render "admin/furnitures/ls_intel/#{k.to_s}", locals: {intel: @intel[k]} %>
	  </div>
	<% end %>
</div>

<style type="text/css" media="screen">
	#furniture-info-content > div.tab-pane {
		margin: 10px auto;
		padding: 20px;
		bolder: 0;
		border-right: 1px solid #e6e6e6;
		border-left: 1px solid #e6e6e6;
	}
</style>
