<% form_id = '' %>
<%= remote_form(admin_selling_order_payment) do |f| -%>
  <% form_id = f.options[:html][:id] %>
  <div  class='block'>
      <div class="field">
        <%= f.text_field :order_order_id %>
      </div>

      <div class="field">
        <%= f.text_field :amount %>
      </div>

      <div class="field">
        <%= f.text_field :trans_id %>
      </div>

      <div class="field">
        <%= f.text_field :status %>
      </div>

      <div class='clearfix'></div>
  </div>

  <div class="actions field pull-left">
    <%= f.submit submit_text,  data: { disable_with: "درحال ثبت اطلاعات..." }, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
<% end %>