<%= 
	render 'admin/shared/index',
	  title: 'لیست اجزای ساخت', 
		title_right: lambda {
			link_to new_admin_furniture_spec_path, class: 'inline-html-call' do
				raw "<span class='fa fa-plus'></span> ایجاد جز جدید"
			end
		},
		table_head: {
			'ردیف': { style: 'width: 30px' },
			'عنوان': { style: 'width: 12%' },
			'واحد': { style: 'width: 12%' },
			'توضیحات': { }
		},
		table_body: lambda {
%>
  <% @admin_furniture_specs.each do |fs| %>
    <tr>
      <td><%= fs.id %></td>
      <td><%= fs.name %></td>
      <td>
        <%= editable_tag fs, :unit %>
      </td>
      <td>
        <%= editable_tag fs, :comment, type: :textarea, placement: :bottom, 'allow-empty': true %>
      </td>
    </tr>
  <% end %>

<% } %>
