<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_furniture_spec.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_furniture_spec.comment %>
</p>

<%= link_to 'Edit', edit_admin_furniture_spec_path(@admin_furniture_spec) %> |
<%= link_to 'Back', admin_furniture_specs_path %>
