<% form_id = 0 %>
<%= javascript_include_tag 'form-remote-validation' %>
<%= remote_form furniture  do |f| %>
	<% form_id = f.options[:html][:id] %>
  <% if furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>

      <ul>
      <% furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= hidden_field_tag :step, @step %>
	<div class='row'>
		<%= render "step_#{@step}", :f => f, :furniture => furniture%>
	</div>
<% end %>

<% if @step == 1 %>
	<div class="col-md-offset-1 col-md-10" style='padding: 3px; padding-bottom: 20px'>
		<div class='field' style="margin:0; padding-bottom: 20px;margin-top: 20px;">
			<legend>بروزرسانی عکس‌ها <small style='color:#a7a7a7; font-size: 70%'>توجه شود که اضافه‌ کردن عکس‌ها زمانی تایید می‌شوند که این فرم به روز رسانی گردد.</small></legend>
			<%= render 'uploaded_files/form', :target_form => {:tag => "form##{form_id}", :input => 'furniture[imid]'} %>
		</div>
	</div>
	<div class='clearfix'></div>
<% end %>
