<%= javascript_include_tag 'texteditor' %>
<%= stylesheet_link_tag    'texteditor', media: 'all' %>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style='padding: 20px;'>
	<%= f.label :description, "توضیحات مدل", class: "control-label" %>
	<%= f.text_area :description, class: "form-control", placeholder: "Comment" %>
</div>
<fieldset class='form-group col-md-6'>
	<legend>Furniture Details</legend>
  <div class="field">
    <%= f.label :size_parche %>
    <%= f.text_field :size_parche %>
  </div>
  <div class="field">
    <%= f.label :size_kanaf %>
    <%= f.text_field :size_kanaf %>
  </div>
  <div class="field">
    <%= f.label :size_abr %>
    <%= f.text_field :size_abr %>
  </div>
  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>
</fieldset>