	<fieldset class='form-group col-md-6'>
		<legend>Furniture Wages</legend>
	  <div class="field">
	    <%= f.label :wage_khayat %>
	    <%= f.text_field :wage_khayat %>
	  </div>
	  <div class="field">
	    <%= f.label :wage_rokob %>
	    <%= f.text_field :wage_rokob %>
	  </div>
	  <div class="field">
	    <%= f.label :wage_naghash %>
	    <%= f.text_field :wage_naghash %>
	  </div>
	  <div class="field">
	    <%= f.label :wage_najar %>
	    <%= f.text_field :wage_najar %>
	  </div>
	  <div class="field">
	    <%= f.label :wage_extra %>
	    <%= f.text_field :wage_extra %>
	  </div>
	</fieldset>