<fieldset class='form-group col-md-6'>
	<legend>Furniture Details</legend>
  <div class="field">
    <%= f.label :size_parche %>
    <%= f.text_field :size_parche %>
  </div>
  <div class="field">
    <%= f.label :size_kanaf %>
    <%= f.text_field :size_kanaf %>
  </div>
  <div class="field">
    <%= f.label :size_abr %>
    <%= f.text_field :size_abr %>
  </div>
  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>
</fieldset>