<div class="row" style='margin: 20px'>
  <div class="col-md-4">
  	<%= f.label :name, "Name:", class: "col-md-4 control-label" %>
  	<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
	</div>
  <div class="col-md-8">
  	<%= f.label :comment, "Comment", class: "col-md-4 control-label" %>
    <%= f.text_area :comment, class: "form-control", placeholder: "Comment" %>
  </div>
</div>
<div class="row" style='margin: 20px'>
	<div class="col-md-4" style='xpadding: 0'>
		<label class="btn btn-default btn-file">
    	Add Images <%= f.file_field :images, multiple: true, hidden: true, class: 'hidden' %>
    </label>
  </div>
	<div class="col-md-8" style='background-color: #000; height: 100px;'>
	</div>
</div>
