<%= render 'furniture_cover', :furniture => @furniture %>

<style type="text/css" media="screen">
	.block th { direction: rtl; text-align: right; }
</style>

<div class='clearfix'></div>
<div class='container'>
<% acu_as :admin do %>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block ir' id='furniture-detail-block1'>
		<legend>پنل مدیریتی</legend>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right" role="toolbar" style='padding-top: 10px;'>
			<%= check_awesome 'قابل تولید است؟', '', checked: @furniture.available? %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-right" role="toolbar">
			  <%= link_to edit_furniture_path(@furniture), :remote => true, :class => "btn btn-default inline-html-call" do %>
			  	<span class='fa fa-pencil'></span> ویرایش
		  	<% end %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 pull-left" role="toolbar">
			  <%= link_to furniture_path(@furniture), :class => "btn btn-danger", :method => :delete, data: { :confirm => {:title => 'آیا از حذف این محصول اطمینان دارید؟', :message => 'توجه فرمایید که با انجام این عملیات بازیابی اطلاعات این محصول غیرممکن خواهد بود!'} } do %>
			  	<span class='fa fa-times'></span> حذف
		  	<% end %>
		</div>
		<div class='clearfix'></div>
	</div>
<% end %>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block' id='furniture-detail-block1'>
		<div class='col-lg-3 col-md-3 col-sm-3 hidden-xs pull-right'>
			<%= image_tag 'logo.png', :class => 'img img-responsive' %>
		</div>
		<fieldset class='col-lg-6 col-md-6 col-sm-9 col-xs-12 pull-right'>
			<table class='table'>
				<thead>
					<tr>
						<th colspan='4' class='ir'>توضیحات:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>نام مدل</th>
						<td><%= @furniture.name %></td>
						<th>دسته‌بندی</th>
						<td><%= link_to @furniture.furniture_type.name, admin_furniture_type_path(@furniture.furniture_type) %></td>
					</tr>
					<tr>
						<th>قیمت پایه</th>
						<td><%= @furniture.cost? %> تومان</td>
						<th class='text-<%= @furniture.available ? 'success' : 'danger' %>'>وضعیت</th>
						<td class='text-<%= @furniture.available ? 'success' : 'danger' %>'>
							<%= raw @furniture.available \
								? '<span class="fa fa-check"></span> موجود' \
								: '<span class="fa fa-times"></span> ناموجود'
							%>
						</td>
					</tr>
					<tr>
						<th>درباره‌ی طرح</th>
						<td colspan="3"><%= raw @furniture.comment %></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center' style='padding: 0; padding-top: 40px;'>
		  <div class='col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 order'>
  		  <div class='btn-order'>
  		    <label>سفارش محصول</label>
  		    <div><span class='fa fa-truck'></span></div>
  	    </div>
  	    <p style=''>توجه فرمایید که می‌توانید در مرحله‌ تکمیل خرید، کلیه‌ی سفارشات خود را با تغییرات دلخواه از ما بخواهید.</p>
	    </div>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-6 col-xs-12 text-success pull-left' id='sell-conditions' style="font-weight: bold">
			<hr />
			<div class='col-md-3'><span class='fa fa-money'></span> پرداخت در محل</div>
			<div class='col-md-3'><span class='fa fa-check'></span> تضمین بهترین کیفیت</div>
			<div class='col-md-3'><span class='fa fa-shield'></span> دو سال گارانتی</div>
			<div class='col-md-3'><span class='fa fa-refresh'></span> ۷ روز ضمانت بازگشت</div>
		</div>
		<div class='clearfix'></div>
	</div>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 block' id='furniture-detail-block2'>
		<div class='row'>
			<fieldset class='col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right'>
				<legend>مدل <%= @furniture.furniture_type.name %>: <b><%= @furniture.name %></b>
			  <% acu_as :admin do %>
			     <small class='pull-left'><%= link_to raw('<small class="fa fa-pencil" style="font-size: 80%; margin-top: 5px"></small> ویرایش متن'), edit_description_furniture_path, remote: true, class: 'inline-html-call' %></small>
			  <% end %>
				</legend>
				<div class='text-justify' style='font-size: 20px!important'><%= raw @furniture.description_html %></div>
			</fieldset>
			<fieldset class='col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left'>
				<legend>جزئیات این مدل</legend>
				<table class='table' style='margin-top: -20px;'>
					<tbody>
						<tr>
							<th>ابر</th>
							<td><%= 10 %> متر</td>
						</tr>
						<tr>
							<th>پارچه</th>
							<td><%= 10 %> متر</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('input#add_to_cart').change(function(){
			method = "post"
			url = '<%= shopping_carts_path %>.json';
			if(!this.checked) {
				method = "delete"
				url = '<%= shopping_carts_path	%>/' + $(this).data('id') + '.json'
				$('[for="add_to_cart"] .title').text('به سبد خرید اضافه کن!');
			} else {
				$('[for="add_to_cart"] .title').text('به سبد خرید اضافه شد.');
			}

			$.ajax({
			  type: "POST",
			  url: url,
			  data: { shopping_cart: { furniture_id: <%= @furniture.id %> }, _method: method },
			  success: function(data) {
			  	if(data.id != undefined)
				  	$('input#add_to_cart').data('id', data.id)
		  		else
		  			$('input#add_to_cart').removeData('id');
	  			update_the_shopping_cart_banner(data._count)
		  	},
			  error: function() {
			  	bootbox.alert({title: 'خطا در ارسال داده!', message: 'لطفا صفحه را Refresh کنید و در صورت ادامه‌ی بروز این مشکل تیم توسعه سابت را از\
			  	<%= link_to 'این طریق', contact_us_path(:section => 'development', :cause => 'invalid request', :url => request.url, :details => [__FILE__.gsub(Rails.root.to_s, ""), __LINE__]) %>\
			  	در جریان بگذارید\
			  	<strong>و بن تخفیف بگیرید!</strong>\
			  	'})
			  	$('input#add_to_cart').prop('checked', !$('input#add_to_cart').prop('checked'));
			  }
			})
		})<%= raw ".data('id', '#{@shopping}')" if @shopping %>;
	});
</script>
