<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @furniture.name %>
</p>

<p>
  <strong>Furnitaure detail:</strong>
  <%= @furniture.inspect %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @furniture.comment %>
</p>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
