<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" style='text-align: right'>
  <head>
    <meta charset="UTF-8" />
    <title>Viramobl</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
        
    <script type="text/javascript">
      var recaptcha_callback = function() {
      	$('.recaptcha-check').each(function(){
      		if($(this).attr('id') === undefined || $(this).attr('id').length === 0)
      			$(this).attr('id', 'id-' + Math.floor(Date.now() + 1e+10 * Math.random()).toString())
    			ID = $(this).attr('id');
	        grecaptcha.render(ID, {
	          'sitekey' : '<%= AppConfig.recaptcha.keys.site %>',
	          'callback': function() { eval($('#'+ID).attr('data-callback')) }
	        });
      	})
      };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?hl=<%= I18n.locale.to_s %>"></script>
  </head>

  <body>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag    params[:controller], media: 'all' %>