<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" style='text-align: right'>
  <head>
		<meta charset="UTF-8" />
    <title>Viramobl</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag    params[:controller], media: 'all' %>
	  <!-- Fixed navbar -->
	  <nav class="navbar navbar-default navbar-fixed-top" style='margin: 0;font-size: 15px'>
	    <div class="container">
	      <div class="navbar-header navbar-right">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <%= link_to 'مبل ویرا', root_path, :class => 'navbar-brand' %>
	      </div>
	      <div id="navbar" class="navbar-collapse collapse ">
	        <ul class="nav navbar-nav navbar-right">
	          <li class="<%= current_page?(root_url)? 'active' : '' %>"><%= link_to 'خانه', root_path, :class => 'navbar-brand' %></li>
	        </ul>
	        <ul class="nav navbar-nav ir" style='font-weight: bold'>
          	<% scc = shopping_cart_count? %>
	          <li class='pull-right magnifiable <%= (scc > 0 ? 'has-shopping-cart' : '') %>'>
	          	<%= link_to "#" do %>
								<span class="fa fa-shopping-cart"></span>
								<span class='shopping-cart-tag'>
									سبد خرید<%= scc > 0 ? " (#{scc})" : "" %>
								</span>
							<% end %>
						</li>
	          <% if user_signed_in? %>
		          <li class="dropdown pull-right">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> <%= current_user.full_name %> <span class="caret"></span></a>
		            <ul class="dropdown-menu ir">
		              <li><%= link_to 'پروفایل', profiles_path %></li>
		              <li role="separator" class="divider"></li>
		              <li><%= link_to destroy_user_session_path, :method => :delete do %><span class="fa fa-sign-out"></span> خروج<% end %></li>
		            </ul>
		          </li>
          	<% else %>
							<li><%= link_to new_user_session_path do %><span class="fa fa-sign-in"></span> ورود<% end %></li>
							<li><%= link_to new_user_registration_path do %><span class="fa fa-user-plus"></span> ثبت نام<% end %></li>
          	<% end %>
	      	</ul>
	      </div><!--/.nav-collapse -->
	  	</div>
	  </nav>
	  <div class="clearfix"></div>
	  <div class="container" id='page-alerts'>
	  	<div class='col-md-8 col-md-offset-2'>
				<%= raw '<p class="alert alert-info text-center"><span class="pull-right" style="cursor: pointer"><span class="fa fa-times"></span></span>%s</p>' %flash[:notice] if flash[:notice] %>
				<%= raw '<p class="alert alert-warning text-center"><span class="pull-right" style="cursor: pointer"><span class="fa fa-times"></span></span>%s</p>' %flash[:alert] if flash[:alert] %>
			</div>
  	</div>
  	<div class='container-fluid' style='margin:0; padding:0'>
			<%= yield %>
    </div>
  </body>
</html>
