<%= render 'layouts/header' %>
  <div style='height: 70px; width: 20vw;'></div>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" style='margin: 0;font-size: 15px'>
    <div class="container">
      <div class="navbar-header navbar-right">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'مبل ویرا', root_path, :class => 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse ">
        <ul class="nav navbar-nav navbar-right">
          <% acu_as [:admin, :employee] do %>
            <li class="<%= namespace?(:employee) ? 'active' : '' %>">
              <%= link_to employee_root_path do %>
              	<% acu_as :employee do %>
                	<span class='fa fa-male'></span> مدیریت
              	<% end %>
              	<% acu_as :admin do %>
                	<span class='fa fa-handshake-o'></span> کارکنان
              	<% end %>
              <% end %>
            </li>
          <% end %>
          <% acu_as :admin do %>
            <li class="<%= namespace?(:admin) ? 'active' : '' %>">
              <%= link_to admin_root_path do %>
                <span class='fa fa-male'></span> مدیریت
              <% end %>
            </li>
          <% end %>
          <li class="<%= current_page?(root_url)? 'active' : '' %>">
            <%= link_to root_path do %>
              <span class='fa fa-home'></span> خانه
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav ir" style='font-weight: bold'>
          <% scc = shopping_cart_count? %>
          <li class='pull-right magnifiable <%= (scc > 0 ? 'has-shopping-cart' : '') %>'>
            <%= link_to "#" do %>
              <span class="fa fa-shopping-cart"></span>
              <span class='shopping-cart-tag'>
                سبد خرید<%= scc > 0 ? " (#{scc})" : "" %>
              </span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> <%= current_user.full_name %> <span class="caret"></span></a>
              <ul class="dropdown-menu ir">
                <li><%= link_to 'پروفایل', profiles_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to destroy_user_session_path, :method => :delete do %><span class="fa fa-sign-out"></span> خروج<% end %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to new_user_session_path do %><span class="fa fa-sign-in"></span> ورود<% end %></li>
            <li><%= link_to new_user_registration_path do %><span class="fa fa-user-plus"></span> ثبت نام<% end %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="clearfix"></div>
  <%= render 'layouts/alerts' %>
  <div class='container-fluid' style='margin:0; padding:0'>
	  <% acu_as :admin do %>
	  	<% if namespace? :employee %>
	  	<div id='below-nav-top-bar'>
	  		<div class='container'>
	  			<span>
	  				<span class='fa fa-exclamation-triangle' style='font-size: 90%; position: relative; top: 3px'></span>
	  				<% if not session[:admin_as_employee] %>
							شما به «عنوان مدیر» باید به صورت یکی از «انواع کارمندان» به این بخش وارد شوید.
						<% else %>
							شما به «عنوان مدیر» در قالب <b>«<%= session[:admin_as_employee] %>»</b> به مشاهده‌ی این بخش می‌پردازید.
						<% end %>
					</span>
	  			<%= form_tag as_employee_home_index_path, method: :post do %>
  					<%= select_tag :as_employee, options_for_select(Admin::UserType.where('id > 2').map {|i| [i.name, i.id]}), prompt: (session[:admin_as_employee] ? session[:admin_as_employee] : "لطفا انتخاب نمایید..."), onchange: ("javascript: this.form.submit();")  %>
	  			<% end %>
  			</div>
  		</div>
	  	<% end %>
	  <% end %>
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
